<template>
  <div class="container col-sm-6 col-sm-offset-3">
    <div class="panel panel-default">
      <div class="panel-body">
        <section>
          <svg
            version="1.1"
            id="Capa_1"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            x="0px"
            y="0px"
            viewBox="0 0 463 463"
            style="enable-background: new 0 0 463 463;"
            xml:space="preserve"
            class="fingerprint"
            width="100%"
            height="125px"
          >
            <title>Free Contest Authentication</title>
            <g>
              <path
                d="M259.476,280.364V247.5c0-12.958-10.542-23.5-23.5-23.5s-23.5,10.542-23.5,23.5v29.672c0,35.757-13.173,70.087-37.094,96.665l-32.981,36.646c-2.771,3.079-2.521,7.821,0.558,10.593c3.078,2.771,7.82,2.521,10.592-0.558l32.981-36.646c26.403-29.338,40.944-67.231,40.944-106.7V247.5c0-4.687,3.813-8.5,8.5-8.5s8.5,3.813,8.5,8.5v32.864c0,44.003-16.301,86.167-45.901,118.727l-32.149,35.364c-2.786,3.064-2.56,7.809,0.505,10.595c1.437,1.307,3.242,1.95,5.042,1.95c2.04,0,4.072-0.827,5.552-2.455l32.148-35.364C241.789,373.854,259.476,328.106,259.476,280.364z"
              />
              <path
                d="M291.476,247.5c0-30.603-24.897-55.5-55.5-55.5s-55.5,24.897-55.5,55.5v29.672c0,27.839-10.256,54.566-28.879,75.258l-23.447,26.053c-2.771,3.079-2.521,7.821,0.558,10.593c3.079,2.771,7.82,2.519,10.592-0.558l23.447-26.053c21.106-23.451,32.73-53.742,32.73-85.293V247.5c0-22.332,18.168-40.5,40.5-40.5c22.332,0,40.5,18.168,40.5,40.5v32.864c0,51.979-19.256,101.789-54.223,140.252l-27.125,29.839c-2.787,3.064-2.561,7.809,0.504,10.595c1.437,1.307,3.242,1.95,5.042,1.95c2.04,0,4.072-0.827,5.552-2.455l27.126-29.839c37.481-41.23,58.123-94.622,58.123-150.342V247.5z"
              />
              <path
                d="M323.476,247.5c0-48.248-39.252-87.5-87.5-87.5s-87.5,39.252-87.5,87.5v29.672c0,19.92-7.339,39.045-20.665,53.851l-21.112,23.458c-2.771,3.079-2.521,7.821,0.558,10.593c3.078,2.771,7.821,2.519,10.592-0.558l21.112-23.458c15.809-17.565,24.515-40.254,24.515-63.886V247.5c0-39.977,32.523-72.5,72.5-72.5s72.5,32.523,72.5,72.5v32.864c0,59.958-22.212,117.412-62.545,161.777l-7.507,8.258c-2.786,3.065-2.56,7.809,0.505,10.595c1.437,1.306,3.243,1.95,5.042,1.95c2.04,0,4.072-0.827,5.552-2.455l7.506-8.258c42.848-47.133,66.446-108.169,66.446-171.867V247.5z"
              />
              <path
                d="M116.476,247.5c0,4.143,3.358,7.5,7.5,7.5s7.5-3.357,7.5-7.5c0-25.255,9.169-49.651,25.819-68.695c16.495-18.867,39.134-31.205,63.746-34.741c4.1-0.589,6.946-4.391,6.357-8.49c-0.589-4.1-4.394-6.942-8.49-6.357c-28.16,4.046-54.052,18.15-72.906,39.716C126.962,190.71,116.476,218.613,116.476,247.5z"
              />
              <path
                d="M131.476,277.172c0-4.143-3.358-7.5-7.5-7.5s-7.5,3.357-7.5,7.5c0,12.002-4.421,23.523-12.449,32.443l-18.779,20.867c-2.771,3.078-2.521,7.82,0.558,10.592c1.434,1.29,3.227,1.925,5.015,1.925c2.052,0,4.097-0.838,5.577-2.483l18.779-20.866C125.687,307.971,131.476,292.886,131.476,277.172z"
              />
              <path
                d="M340.755,344.123c-4.009-1.044-8.105,1.351-9.155,5.357c-2.769,10.579-6.213,21.096-10.24,31.258c-1.526,3.851,0.359,8.21,4.21,9.735c0.907,0.359,1.841,0.529,2.761,0.529c2.985,0,5.808-1.795,6.975-4.739c4.249-10.725,7.884-21.822,10.806-32.986C347.16,349.271,344.761,345.172,340.755,344.123z"
              />
              <path
                d="M315.791,158.632c-3.081-2.771-7.823-2.517-10.592,0.563s-2.517,7.822,0.563,10.591c22.061,19.832,34.713,48.157,34.713,77.714v32.864c0,12.473-0.86,25.042-2.557,37.359c-0.565,4.104,2.303,7.888,6.406,8.453c0.347,0.048,0.692,0.071,1.033,0.071c3.688,0,6.903-2.722,7.42-6.478c1.79-12.993,2.698-26.251,2.698-39.406V247.5C355.476,213.695,341.011,181.304,315.791,158.632z"
              />
              <path
                d="M280.729,153.076c1.041,0.496,2.138,0.73,3.219,0.73c2.803,0,5.492-1.579,6.777-4.278c1.781-3.739,0.192-8.215-3.547-9.995c-10.806-5.145-22.291-8.616-34.136-10.317c-4.106-0.585-7.901,2.258-8.49,6.357s2.257,7.901,6.357,8.49C261.257,145.55,271.289,148.582,280.729,153.076z"
              />
              <path
                d="M235.976,96c-2.806,0-5.644,0.078-8.437,0.232c-4.136,0.228-7.304,3.766-7.076,7.901c0.229,4.136,3.763,7.321,7.902,7.075c2.519-0.139,5.079-0.209,7.61-0.209c75.266,0,136.5,61.233,136.5,136.5v32.864c0,4.143,3.358,7.5,7.5,7.5s7.5-3.357,7.5-7.5V247.5C387.476,163.963,319.513,96,235.976,96z"
              />
              <path
                d="M153.972,136.693c1.477,0,2.97-0.436,4.275-1.343c12.478-8.677,26.182-15.155,40.733-19.258c3.987-1.124,6.308-5.268,5.184-9.254s-5.269-6.304-9.254-5.184c-16.16,4.556-31.376,11.749-45.226,21.379c-3.401,2.365-4.241,7.039-1.876,10.439C149.265,135.57,151.599,136.693,153.972,136.693z"
              />
              <path
                d="M99.476,277.172V247.5c0-34.89,13.213-68.118,37.205-93.565c2.841-3.014,2.702-7.76-0.312-10.602s-7.761-2.701-10.602,0.312C99.14,171.886,84.476,208.77,84.476,247.5v29.672c0,4.083-1.504,8.002-4.234,11.035l-9.248,10.275c-2.771,3.079-2.521,7.821,0.558,10.592c1.433,1.291,3.227,1.926,5.015,1.926c2.052,0,4.096-0.837,5.577-2.482l9.248-10.275C96.605,292.449,99.476,284.966,99.476,277.172z"
              />
              <path
                d="M409.951,189.104c-8.226-24.446-21.299-46.531-38.856-65.642c-2.803-3.05-7.547-3.252-10.597-0.449c-3.05,2.803-3.251,7.547-0.449,10.598c16.127,17.554,28.134,37.834,35.686,60.276c1.054,3.133,3.976,5.11,7.107,5.11c0.793,0,1.6-0.127,2.393-0.394C409.16,197.282,411.272,193.029,409.951,189.104z"
              />
              <path
                d="M295.247,73.822c-3.917-1.341-8.183,0.748-9.524,4.668c-1.341,3.919,0.749,8.183,4.668,9.523c16.538,5.659,32.065,13.857,46.15,24.369c1.347,1.005,2.92,1.489,4.48,1.489c2.286,0,4.544-1.041,6.017-3.015c2.478-3.319,1.794-8.019-1.525-10.496C330.176,88.916,313.264,79.986,295.247,73.822z"
              />
              <path
                d="M119.442,125.908C150.991,95.659,192.377,79,235.976,79c8.096,0,16.237,0.583,24.196,1.731c4.103,0.598,7.903-2.252,8.495-6.352c0.592-4.1-2.251-7.902-6.351-8.494C253.648,64.635,244.786,64,235.976,64c-47.487,0-92.56,18.141-126.915,51.081c-34.248,32.838-54.277,76.905-56.397,124.084c-0.186,4.138,3.018,7.644,7.155,7.829c0.115,0.006,0.229,0.008,0.343,0.008c3.987,0,7.306-3.14,7.487-7.163C69.594,196.527,87.988,156.066,119.442,125.908z"
              />
              <path
                d="M235.976,32c-16.772,0-33.485,1.944-49.674,5.778c-4.031,0.954-6.524,4.996-5.57,9.026c0.955,4.03,4.997,6.524,9.027,5.569C204.817,48.809,220.366,47,235.976,47c54.996,0,106.332,21.911,144.55,61.695c1.473,1.533,3.439,2.305,5.41,2.305c1.869,0,3.741-0.694,5.195-2.091c2.987-2.87,3.083-7.618,0.213-10.604c-19.913-20.729-43.304-37.036-69.522-48.465C294.666,38.002,265.783,32,235.976,32z"
              />
              <path
                d="M67.507,125.404c1.372,1.074,3.001,1.595,4.619,1.595c2.227,0,4.431-0.987,5.91-2.876c21.375-27.302,49.515-48.717,81.377-61.932c3.826-1.587,5.642-5.975,4.055-9.801s-5.977-5.644-9.801-4.055c-34.241,14.201-64.478,37.21-87.441,66.539C63.672,118.137,64.246,122.851,67.507,125.404z"
              />
              <path
                d="M131.983,38.725c1.094,0,2.205-0.24,3.255-0.748C166.816,22.73,200.709,15,235.976,15c18.378,0,36.682,2.162,54.401,6.426c4.025,0.966,8.077-1.51,9.046-5.537c0.969-4.027-1.51-8.078-5.538-9.047C275.019,2.302,255.535,0,235.976,0c-37.544,0-73.631,8.232-107.259,24.469c-3.73,1.801-5.294,6.285-3.493,10.015C126.517,37.163,129.195,38.725,131.983,38.725z"
              />
              <path
                d="M321.724,31.383c7.732,3.079,15.385,6.619,22.746,10.52c1.119,0.594,2.321,0.875,3.505,0.875c2.688,0,5.287-1.449,6.633-3.99c1.939-3.66,0.545-8.199-3.115-10.139c-7.837-4.153-15.986-7.922-24.22-11.201c-3.849-1.533-8.21,0.345-9.743,4.192C315.998,25.488,317.876,29.851,321.724,31.383z"
              />
            </g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
          </svg>
        </section>
        <center>
          <h1>Free Contest Authentication</h1>
        </center>
        <hr />
        <div class="text-center" style="font-size: 18px;">
          <p v-if="step >= 1">
            Kiểm tra phiên đăng nhập
            <i
              :class="
                !checkLogined
                  ? 'fa fa-spinner fa-pulse fa-fw'
                  : 'green-icon fa fa-check'
              "
            ></i>
          </p>
          <p v-if="step >= 2">
            Kiểm tra tính hợp lệ của kỳ thi
            <i
              :class="
                !checkContest
                  ? 'fa fa-spinner fa-pulse fa-fw'
                  : 'green-icon fa fa-check'
              "
            ></i>
          </p>
          <p v-if="step >= 3">
            Kiểm tra thẻ thí sinh trước khi truy cập vào phòng thi
            <i
              :class="
                !catchedTmpPassword
                  ? 'fa fa-spinner fa-pulse fa-fw'
                  : 'green-icon fa fa-check'
              "
            ></i>
          </p>
          <p v-if="step >= 4">
            Chờ trong giây lát, bạn sẽ được đưa đến phòng thi
            <i
              :class="
                !loginingToCMS
                  ? 'fa fa-spinner fa-pulse fa-fw'
                  : 'green-icon fa fa-check'
              "
            ></i>
          </p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
const FC_CMS_URL = 'https://code.freecontest.xyz/'

class FreeContest_CMS {
  constructor(cms_url) {
    this.cms_url = cms_url
  }

  async get_xsrf_token() {
    let response = await fetch(`${this.cms_url}`, {
      method: 'GET',
      credentials: 'include',
    })

    let text = await response.text()
    let parser = new DOMParser()
    let doc = parser.parseFromString(text, 'text/html')
    let xsrf_token = doc.getElementsByName('_xsrf')[0].value

    return xsrf_token
  }

  async logout() {
    let xsrf_token = await this.get_xsrf_token()

    let params = new URLSearchParams()
    params.append('_xsrf', xsrf_token)

    let response = await fetch(`${this.cms_url}/logout`, {
      method: 'POST',
      body: params,
      credentials: 'include',
    })

    return true
  }

  async login(username, password) {
    let xsrf_token = await this.get_xsrf_token()

    let params = new URLSearchParams()
    params.append('_xsrf', xsrf_token)
    params.append('username', username)
    params.append('password', password)

    let response = await fetch(`${this.cms_url}/login`, {
      method: 'POST',
      body: params,
      credentials: 'include',
    })

    let final_url = response.url
    if (final_url.includes('?login_error=true')) return false
    return true
  }
}

async function cms_logout() {
  let cms = new FreeContest_CMS(FC_CMS_URL)
  let result = await cms.logout()

  window.location.replace(FC_CMS_URL)
}

import { mapState, mapActions } from 'vuex'

export default {
  computed: mapState({
    passport: (state) => state.passport,
  }),
  data: function () {
    return {
      checkLogined: false,
      checkContest: false,
      catchedTmpPassword: false,
      loginingToCMS: false,
      step: 0,
      contest_id: -1,
      AuthCard: {},
    }
  },
  methods: {
    ...mapActions(['fetchAPI']),
    step1: async function () {
      this.step = 1
      if (this.passport.logined) {
        return true
      }

      this.$toast.error('Bạn cần phải đăng nhập trước', 'Lỗi!')
      this.$router.push({ name: 'Contest' })
      return false
    },
    step2: async function () {
      this.step = 2
      let query = new URLSearchParams()
      query.append('contestId', this.contest_id)
      let ContestHandle = await this.fetchAPI({
        path: `/contest/?${query.toString()}`,
        method: 'GET',
      })
      if (ContestHandle.error || ContestHandle.data.length === 0) {
        this.$toast.error('Kỳ thi không hợp lệ', 'Lỗi!')
        this.$router.push({ name: 'Contest' })
        return false
      }

      let contest = ContestHandle.data[0]
      let startTime = contest.startTime
      let endTime = contest.endTime
      let current = new Date().getTime()

      if (startTime <= current && current <= endTime) {
        return true
      }

      this.$toast.error('Đây không phải lúc để tham gia kỳ thi này', 'Lỗi!')
      this.$router.push({ name: 'Contest' })
      return false
    },
    step3: async function () {
      this.step = 3
      let opts = {
        contestId: this.contest_id,
      }
      let PassportHandle = await this.fetchAPI({
        path: '/contest/access',
        method: 'POST',
        params: opts,
      })
      if (PassportHandle.error) {
        this.$toast.error(PassportHandle.message, 'Lỗi!')
        this.$router.push({ name: 'Contest' })
        return false
      }

      this.AuthCard = {
        username: this.passport.username,
        password: PassportHandle.tmpPassword,
      }
      return true
    },
    step4: async function () {
      this.step = 4
      try {
        let cms = new FreeContest_CMS(FC_CMS_URL)
        let result = await cms.login(
          this.AuthCard.username,
          this.AuthCard.password
        )
        if (result) {
          window.location.replace(FC_CMS_URL)
          return true
        } else {
          this.$toast.error(
            'Đã có lỗi xảy ra, vui lòng báo với TNV để được hỗ trợ',
            'Lỗi!'
          )
          this.$outer.push({ name: 'Contest' })
          return false
        }
      } catch (e) {
        this.$toast.error('Có lỗi xảy ra khi đưa bạn vào phòng thi.', 'Lỗi!')
        this.$router.push({ name: 'Contest' })
        return false
      }
    },
  },
  async created() {
    this.contest_id = this.$route.params.id
    this.checkLogined = await this.step1()
    if (this.checkLogined) this.checkContest = await this.step2()
    if (this.checkContest) this.catchedTmpPassword = await this.step3()
    if (this.catchedTmpPassword) this.loginingToCMS = await this.step4()
  },
}
</script>

<style scoped>
.container {
  padding-top: 40px;
}

.green-icon {
  color: green;
}

section {
  padding-top: 50px;
}
.fingerprint {
  fill: transparent;
  stroke-width: 4px;
  stroke: #599fee;
  stroke-dasharray: 1300;
  stroke-dashoffset: 1300;
  animation: fingerprintanim 3s ease-out alternate infinite;
}
@keyframes fingerprintanim {
  50% {
    fill: #ffffff;
    stroke-dashoffset: 0;
  }
  75% {
    fill: #ffffff;
    stroke-width: 4px;
    stroke-dashoffset: 0;
  }
  100% {
    fill: #599fee;
    stroke-width: 0;
    stroke-dashoffset: 0;
  }
}
</style>
