<template>
  <div class="panel panel-default col-sm-8 col-sm-offset-2">
    <div class="panel-body">
      <div
        style="padding-top: 50px;"
        v-if="validating"
        class="col-sm-8 col-sm-offset-2"
      >
        <div class="progress">
          <div
            class="progress-bar active progress-bar-striped"
            role="progressbar"
            aria-valuenow="100"
            aria-valuemin="0"
            aria-valuemax="100"
            style="width: 100%;"
          >
            <i>Loading...</i>
          </div>
        </div>
      </div>
      <form v-else>
        <legend>
          <h3>Đăng ký tham gia {{ contest.name }}</h3>
        </legend>
        <ol>
          <li>Không được trao đổi với thí sinh khác.</li>
          <li>
            Không sử dụng code, trình sinh test không phải do mình làm ra.
          </li>
          <li>Không chia sẻ, gợi ý lời giải trong lúc kỳ thi đang diễn ra.</li>
          <li>Không được sử dụng nhiều tài khoản tham gia cùng lúc.</li>
          <li>
            Không cố khai thác lỗi, tấn công hệ thống trong quá trình diễn ra kỳ
            thi.
          </li>
          <li>
            Nếu muốn khai thác lỗi, đóng góp hãy liên hệ với đội TNV Free
            Contest qua fanpage trên Facebook.
          </li>
        </ol>

        <div v-if="contest.code == 1">
          <div class="alert alert-warning">
            <strong>Lưu ý!</strong> Mọi thí sinh đăng ký trực tiếp trên trang
            web sẽ đều bị ẩn khỏi bảng xếp hạng. Mọi thắc mắc liên hệ Fanpage
            của Free Contest trên Facebook.
          </div>
        </div>

        <div v-if="contest.isDuring && contest.code == 0">
          <div class="alert alert-warning">
            <strong>Lưu ý!</strong> Kỳ thi đang diễn ra, vì vậy bạn sẽ bị ẩn
            khỏi bảng xếp hạng.
          </div>
        </div>

        <form v-on:submit.prevent="RegisterThisContest">
          <div
            v-if="(!contest.isDuring && contest.code == 0) || contest.code == 1"
            class="form-group"
          >
            <input
              :disabled="formLoading || contest.isDuring"
              type="checkbox"
              id="checkbox"
              v-model="showOnRanking"
            />
            &nbsp;
            <label for="checkbox"> Hiện trên bảng xếp hạng</label>
          </div>
          <div class="form-group">
            <btn
              :disabled="formLoading"
              native-type="submit"
              type="primary"
              :block="true"
              ><i class="fa fa-check" aria-hidden="true"></i> Tôi đã hiểu và
              đăng ký kỳ thi này</btn
            >
          </div>
        </form>
      </form>
    </div>
  </div>
</template>

<script>
import { mapState, mapActions } from 'vuex'

export default {
  computed: mapState({
    passport: (state) => state.passport,
  }),
  data: function () {
    return {
      validating: true,
      contest_id: -1,
      contest: {},
      showOnRanking: false,
      formLoading: false,
    }
  },
  methods: {
    ...mapActions(['fetchAPI']),
    getSingleContest: async function (contestId) {
      let query = new URLSearchParams()
      query.append('contestId', contestId)
      let ContestHandle = await this.fetchAPI({
        path: `/contest/?${query.toString()}`,
        headers: {
          Authorization: `Bearer ${window.localStorage.getItem(
            'access_token'
          )}`,
        },
        method: 'GET',
      })
      return ContestHandle
    },
    validateUser: function () {
      if (!this.passport.logined) {
        this.$toast.error('Bạn cần phải đăng nhập trước', 'Lỗi!')
        return this.$router.push({ name: 'Contest' })
      }
    },
    validateContest: async function () {
      this.contest_id = this.$route.params.id
      let contest = await this.getSingleContest(this.contest_id)
      if (contest.error || contest.data.length === 0) {
        this.$toast.error(
          'Đã có lỗi xảy ra, vui lòng báo cho tình nguyện viên để được khắc phục.',
          'Lỗi!'
        )
        return this.$router.push({ name: 'Contest' })
      }

      contest = contest.data[0]
      if (contest.hasRegistered) {
        this.$toast.error('Bạn đã đăng ký kỳ thi này rồi.', 'Lỗi!')
        return this.$router.push({ name: 'Contest' })
      }

      this.contest = contest
      this.showOnRanking = contest.code == 1 ? false : !contest.isDuring

      this.validating = false
    },
    RegisterThisContest: async function () {
      this.formLoading = true
      let opts = {
        contestId: this.contest._id,
        showOnRanking: this.showOnRanking,
      }
      try {
        let RegisterHandle = await this.fetchAPI({
          path: '/contest/register',
          method: 'POST',
          params: opts,
          headers: {
            Authorization: `Bearer ${window.localStorage.getItem(
              'access_token'
            )}`,
          },
        })
        if (RegisterHandle.error) {
          this.$toast.error(RegisterHandle.message, 'Lỗi!')
          return this.$router.push({ name: 'Contest' })
        }

        this.$toast.success(RegisterHandle.message, 'OK!')
        return this.$router.push({ name: 'Contest' })
      } catch (e) {
        this.$toast.error(
          'Đã có lỗi xảy ra, vui lòng báo cho tình nguyện viên để được khắc phục.',
          'Lỗi!'
        )
        return this.$router.push({ name: 'Contest' })
      }
    },
  },
  async created() {
    this.validateUser()
    await this.validateContest()
  },
}
</script>

<style scoped>
.btn {
  border-radius: 2px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: 400;
}
.btn-primary {
  background-color: rgb(0, 120, 212);
}
.btn-primary:hover {
  background-color: #0063ae;
}
.alert {
  border-radius: 2px;
}
ol li {
  margin-left: -23px !important;
}
</style>
