<template>
  <div class="container">
    <div class="col-sm-4">
      <TwtProfileCard></TwtProfileCard>
      <SettingSideBar></SettingSideBar>
    </div>
    <div class="col-sm-8 animated slideInUp faster">
      <div class="panel panel-default">
        <div class="panel-body">
          <h3>Thông tin</h3>
          <hr />
          <form class="form-horizontal" v-on:submit.prevent="SaveInformation">
            <div class="form-group">
              <div class="col-xs-12">
                <input type="checkbox" id="checkbox" v-model="showOnRanking" />
                &nbsp;
                <label for="checkbox"> Hiện trên bảng xếp hạng</label>
              </div>
            </div>
            <hr />
            <div class="form-group">
              <label class="control-label col-xs-2">Họ và tên</label>
              <div class="col-xs-10">
                <input
                  v-bind:disabled="formLoading"
                  type="text"
                  class="form-control"
                  v-model="current.name"
                  required
                />
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-xs-2">Trường</label>
              <div class="col-xs-10">
                <input
                  v-bind:disabled="formLoading"
                  type="text"
                  class="form-control"
                  v-model="current.schoolName"
                  required
                />
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-xs-2">Năm sinh</label>
              <div class="col-xs-10">
                <input
                  v-bind:disabled="formLoading"
                  type="text"
                  class="form-control"
                  v-model="current.yob"
                  required
                />
              </div>
            </div>
            <hr />
            <p>
              <i>Điền mật khẩu mới vào dưới đây nếu bạn muốn đổi mật khẩu!</i>
            </p>
            <div class="form-group">
              <label class="control-label col-xs-2">MK mới</label>
              <div class="col-xs-10">
                <input
                  v-bind:disabled="formLoading"
                  type="password"
                  class="form-control"
                  placeholder="●●●●●●●●●●●"
                  v-model="current.newPassword"
                />
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-xs-2">Nhập lại</label>
              <div class="col-xs-10">
                <input
                  v-bind:disabled="formLoading"
                  type="password"
                  class="form-control"
                  placeholder="●●●●●●●●●●●"
                  v-model="current.newPasswordAgain"
                />
              </div>
            </div>
            <hr />
            <div class="form-group">
              <div class="col-xs-offset-2 col-xs-10">
                <btn
                  native-type="submit"
                  v-bind:disabled="formLoading"
                  type="primary"
                >
                  <i class="fa fa-floppy-o" aria-hidden="true"></i> Lưu thay đổi
                </btn>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState, mapActions } from 'vuex'
import SettingSideBar from '@/components/SettingSideBar'
import TwtProfileCard from '@/components/TwtProfileCard'
export default {
  components: {
    SettingSideBar,
    TwtProfileCard,
  },
  data: function () {
    return {
      current: {},
      formLoading: false,
      showOnRanking: false,
    }
  },
  computed: mapState({
    passport: (state) => state.passport,
  }),
  methods: {
    ...mapActions(['fetchAPI']),
    SaveInformation: async function (event) {
      this.formLoading = true

      let bodyRequest = {
        yob: this.current.yob,
        name: this.current.name,
        schoolName: this.current.schoolName,
        showOnRanking: this.showOnRanking,
      }

      if (
        this.current.newPassword !== '' &&
        this.current.newPasswordAgain !== ''
      ) {
        if (this.current.newPassword !== this.current.newPasswordAgain) {
          this.formLoading = false
          return this.$toast.error(
            'Mật khẩu mới và nhập lại chưa khớp!',
            'Lỗi!'
          )
        }

        bodyRequest = {
          ...bodyRequest,
          ...{
            password: this.current.newPassword,
          },
        }

        this.current.newPassword = ''
        this.current.newPasswordAgain = ''
      }

      let UpdateHandle = await this.fetchAPI({
        path: '/user/update',
        method: 'POST',
        params: bodyRequest,
      })
      this.formLoading = false

      if (UpdateHandle.success) {
        this.$toast.success('Cập nhật thông tin thành công', 'OK!')
        return this.$router.replace({
          name: 'AccountSetting',
          query: { t: Date.now() },
        })
      }

      return this.$toast.error(UpdateHandle.message, 'Lỗi!')
    },
  },
  created() {
    if (!this.passport.logined) {
      this.$toast.error('Bạn cần phải đăng nhập trước', 'Lỗi!')
      return this.$router.push({ name: 'Home' })
    }

    this.current = { ...this.passport }
    this.showOnRanking = this.current.showOnRanking
    this.current.newPassword = ''
    this.current.newPasswordAgain = ''
  },
}
</script>

<style scoped>
.btn {
  border-radius: 2px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: 400;
}
.btn-primary:hover {
  background-color: #0063ae;
}
.btn-primary {
  background-color: rgb(0, 120, 212);
  transition: 0.3s;
}
.btn-default {
  background-color: rgb(255, 255, 255);
  border-width: 2px;
  border-style: solid;
  border-color: rgb(138, 136, 134);
  transition: 0.3s;
}
.btn-default:hover {
  background-color: rgb(0, 120, 212);
  border-color: rgb(0, 120, 212);
  color: rgb(255, 255, 255);
}
</style>
