<template>
  <div class="container">
    <div class="col-sm-4">
      <TwtProfileCard></TwtProfileCard>
      <SettingSideBar></SettingSideBar>
    </div>
    <div class="col-sm-8 animated slideInUp faster">
      <div class="panel panel-default">
        <div class="panel-body">
          <h3>Ảnh đại diện</h3>
          <hr />
          <form v-on:submit.prevent="UpdateAvatar">
            <ul>
              <li>
                <p>Để thêm ảnh đại diện, bạn hãy cung cấp email ở bên dưới.</p>
              </li>
              <li>
                <p>
                  Để cập nhật ảnh đại diện, hãy truy cập
                  <a href="https://www.gravatar.com/" target="_blank"
                    >Gravatar</a
                  >.
                </p>
              </li>
            </ul>
            <hr />
            <div class="form-group">
              <label>Email</label>
              <div class="input-group">
                <input
                  v-bind:disabled="formLoading"
                  type="email"
                  class="form-control"
                  v-model="email"
                  placeholder="rk@freecontest.xyz"
                  required
                />
                <span class="input-group-btn">
                  <btn
                    v-bind:disabled="formLoading"
                    native-type="submit"
                    type="primary"
                  >
                    <i class="fa fa-floppy-o" aria-hidden="true"></i> Cập nhật
                  </btn>
                </span>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions } from 'vuex'
import SettingSideBar from '@/components/SettingSideBar'
import TwtProfileCard from '@/components/TwtProfileCard'
export default {
  components: {
    SettingSideBar,
    TwtProfileCard,
  },
  data: function () {
    return {
      formLoading: false,
      email: '',
    }
  },
  methods: {
    ...mapActions(['fetchAPI']),
    UpdateAvatar: async function (event) {
      this.formLoading = true
      this.email = this.email.toLowerCase()
      let UpdateHandle = await this.fetchAPI({
        path: '/user/update',
        method: 'POST',
        params: {
          avatar: this.email,
        },
      })

      this.formLoading = false
      if (UpdateHandle.success) {
        this.email = ''
        this.$toast.success('Cập nhật ảnh đại diện thành công', 'OK!')
        return this.$router.replace({
          name: 'AvatarSetting',
          query: { t: Date.now() },
        })
      }

      return this.$toast.error(UpdateHandle.message, 'Lỗi!')
    },
  },
}
</script>

<style scoped>
ul li {
  margin-left: -22px;
}
.btn {
  border-radius: 2px;
  padding-left: 16px;
  padding-right: 16px;
}
.btn-primary:hover {
  background-color: #0063ae;
}
.btn-primary {
  background-color: rgb(0, 120, 212);
  transition: 0.3s;
}
.btn-default {
  background-color: rgb(255, 255, 255);
  border-width: 2px;
  border-style: solid;
  border-color: rgb(138, 136, 134);
  transition: 0.3s;
}
.btn-default:hover {
  background-color: rgb(0, 120, 212);
  border-color: rgb(0, 120, 212);
  color: rgb(255, 255, 255);
}
</style>
