<template>
  <div>
    <div class="container-fluid">
      <div class="col-sm-8">
        <div v-if="Loading">
          <div class="panel panel-default">
            <div class="panel-body">
              <content-placeholders :style="{ marginTop: '20px' }">
                <content-placeholders-heading />
                <content-placeholders-text :lines="2" />
              </content-placeholders>
            </div>
          </div>
        </div>
        <div class="animated slideInUp faster faster" v-else>
          <PresentContest
            :passport="passport"
            v-bind:data="PresentContest"
          ></PresentContest>
          <UpcomingContest
            :passport="passport"
            v-bind:data="UpcomingContest"
          ></UpcomingContest>
          <RecentContest
            :passport="passport"
            v-bind:data="RecentContest"
          ></RecentContest>
        </div>
      </div>
      <div class="col-sm-4">
        <ContestSideBar />
        <ContestRegisteredSideBar />
      </div>
    </div>
  </div>
</template>

<script>
import { mapState, mapActions } from 'vuex'
import RecentContest from '@/components/RecentContest'
import PresentContest from '@/components/PresentContest'
import UpcomingContest from '@/components/UpcomingContest'
import ContestSideBar from '@/components/ContestSideBar'
import ContestRegisteredSideBar from '@/components/ContestRegisteredSideBar'

export default {
  computed: mapState({
    passport: (state) => state.passport,
  }),
  components: {
    RecentContest,
    PresentContest,
    UpcomingContest,
    ContestSideBar,
    ContestRegisteredSideBar,
  },
  data: function () {
    return {
      now: new Date().getTime(),
      RecentContest: [],
      PresentContest: [],
      UpcomingContest: [],
      Loading: true,
    }
  },
  methods: {
    ...mapActions(['fetchAPI']),
  },
  async created() {
    let contest = await this.fetchAPI({
      path: '/contest',
      method: 'GET',
    }).then((r) => r.data)

    contest = contest.sort((a, b) => {
      if (a.startTime == b.startTime) {
        return a.startTime - b.startTime
      }
      return b.endTime - a.endTime
    })
    contest.forEach((c) => {
      if (c.endTime < this.now) return this.RecentContest.push(c)
      if (c.startTime > this.now) {
        return this.UpcomingContest.unshift(c)
      }
      return this.PresentContest.unshift(c)
    })

    // console.log(this.UpcomingContest, this.PresentContest, this.RecentContest);

    this.Loading = false
  },
}
</script>
