<template>
  <div class="container-fluid">
    <div class="col-sm-8 animated slideInUp faster">
      <div class="panel panel-default">
        <div class="panel-body">
          <div v-if="Loading">
            <content-placeholders :style="{ marginTop: '20px' }">
              <content-placeholders-heading />
              <content-placeholders-text :lines="2" />
            </content-placeholders>
          </div>
          <div :style="{ marginTop: '20px' }" v-else>
            <div class="row">
              <h1 :style="{ display: 'inline-block' }">Tổng cộng</h1>
              <span :style="{ marginTop: '8px' }" class="pull-right">
                <span class="money fa-3x">
                  {{ totalMoney.toLocaleString() }}
                  <small class="unit">VND</small>
                </span>
              </span>
            </div>
            <ProgressTime
              :style="{ marginTop: '20px' }"
              :startTime="startTime"
              :endTime="endTime"
            ></ProgressTime>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-body">
          <div v-if="Loading">
            <content-placeholders :style="{ marginTop: '20px' }">
              <content-placeholders-heading />
              <content-placeholders-text :lines="2" />
            </content-placeholders>
          </div>
          <div v-else>
            <legend>
              <h4>Danh sách những ủng hộ</h4>
            </legend>
            <table
              v-if="donations.length > 0"
              class="table table-default table-striped table-bordered table-hover table-condensed"
            >
              <thead>
                <tr>
                  <th class="text-center">#</th>
                  <th class="text-center">Tên</th>
                  <th class="text-center">Nơi học tập/làm việc</th>
                  <th class="text-center">Ủng hộ</th>
                  <th v-if="passport.logined && passport.role === 'admin'"></th>
                </tr>
              </thead>
              <tbody>
                <tr
                  v-for="(donation, index) in donations"
                  :key="index"
                  v-if="donation.isShow"
                >
                  <td class="text-center">{{ index + 1 }}</td>
                  <td class="text-center">
                    <span v-if="isWarning(donation.name)">
                      <i
                        :id="'warning-icon-' + index"
                        class="fa fa-exclamation-triangle warning-icon"
                        aria-hidden="true"
                      ></i>
                      <tooltip
                        text="Vui lòng nhắn tin tới fanpage để cập nhật thông tin."
                        :target="'#warning-icon-' + index"
                      />
                    </span>
                    <span class="donor">{{ donation.name }}</span>
                  </td>
                  <td class="text-center">
                    {{ donation.work === '' ? '---' : donation.work }}
                  </td>
                  <td class="text-right money">
                    <span style="padding-right: 10%;">{{
                      donation.quantity.toLocaleString()
                    }}</span>
                    <small class="pull-right unit">VND</small>
                  </td>
                  <td
                    v-if="passport.logined && passport.role === 'admin'"
                    class="text-center"
                  >
                    <router-link :to="'/donation/update/' + donation._id">
                      <btn size="xs" type="primary">
                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                        Sửa
                      </btn>
                    </router-link>
                    <btn
                      :disabled="donation.isDeleting"
                      @click="deleteDonation(donation)"
                      size="xs"
                      type="danger"
                      :style="{ marginLeft: '5px' }"
                    >
                      <i class="fa fa-trash" aria-hidden="true"></i>
                      Xoá
                    </btn>
                  </td>
                </tr>
              </tbody>
            </table>
            <p v-else>Chưa có bất kỳ ủng hộ nào</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="panel panel-default">
        <div class="panel-body">
          <legend>
            <h4>
              <i class="fa fa-credit-card-alt" aria-hidden="true"></i> Thông tin
              nhận ủng hộ
            </h4>
          </legend>
          <p><strong>Ngân hàng:</strong> BIDV</p>
          <p><strong>Tên chủ tài khoản:</strong> NGUYEN TIEN TRUNG KIEN</p>
          <p><strong>Số tài khoản:</strong> 22210000906956</p>
          <p><strong>Chi nhánh:</strong> Thanh Xuân (Hà Nội)</p>
          <hr class="hr-text" data-content="hoặc" />
          <p><strong>Ngân hàng:</strong> VPBank</p>
          <p><strong>Tên chủ tài khoản:</strong> NGUYEN TIEN TRUNG KIEN</p>
          <p><strong>Số tài khoản:</strong> 153571098</p>
          <p><strong>Chi nhánh:</strong> TP.HCM</p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import ProgressTime from '@/components/ProgressTime'
import { mapActions, mapState } from 'vuex'

export default {
  components: {
    ProgressTime,
  },
  computed: mapState({
    passport: (state) => state.passport,
  }),
  data: function () {
    return {
      Loading: true,
      donations: [],
      totalMoney: 0,
      startTime: 1574614800000,
      endTime: 1577293200335,
    }
  },
  methods: {
    ...mapActions(['fetchAPI']),
    isWarning(name) {
      for (var i = 0; i < name.length; ++i) {
        if (name[i] !== name[i].toUpperCase()) {
          return false
        }
      }
      return true
    },
    async fetchDonation() {
      const donations = await this.fetchAPI({ path: '/donation/' })
      donations.data = donations.data.sort(
        (da, db) => da.createdAt - db.createdAt
      )
      donations.data = donations.data.map((donation) => {
        return {
          ...donation,
          isShow: true,
          isDeleting: false,
        }
      })
      this.donations = donations.data
      this.totalMoney = donations.data.reduce(
        (total, donation) => total + donation.quantity,
        0
      )
      this.Loading = false
    },
    async deleteDonation(donation) {
      donation.isDeleting = true
      const DeleteHandle = await this.fetchAPI({
        path: '/donation/delete',
        method: 'POST',
        params: { donationId: donation._id },
      })
      donation.isDeleting = false
      if (DeleteHandle.success) {
        donation.isShow = false
        this.$toast.success(DeleteHandle.message, 'OK!')
        return this.$router.replace({
          name: 'Donation',
          query: { t: Date.now() },
        })
      }
      return this.$toast.error(DeleteHandle.message, 'Lỗi')
    },
  },
  created() {
    this.fetchDonation()
  },
}
</script>

<style scoped>
.warning-icon {
  color: #ffcc00;
  margin-right: 5px;
}

.money {
  color: #118c68;
  font-weight: bold;
}
.donor {
  font-weight: bold;
}
.total {
  color: dimgray;
  font-weight: 500;
}
.unit {
  font-weight: 400;
  color: #797979;
}
.btn {
  border-radius: 2px;
  padding-left: 16px;
  padding-right: 16px;
  font-weight: 400;
}
.btn-primary {
  background-color: rgb(0, 120, 212);
  transition: 0.3s;
}
.btn-success:disabled {
  background-color: #217346;
}
.btn-success:disabled:hover {
  background-color: #217346;
  border-color: #4cae4c;
}
.btn-default {
  background-color: rgb(255, 255, 255);
  border-width: 2px;
  border-style: solid;
  border-color: rgb(138, 136, 134);
  transition: 0.3s;
}
.btn-default:hover {
  background-color: rgb(0, 120, 212);
  border-color: rgb(0, 120, 212);
  color: rgb(255, 255, 255);
}

.hr-text {
  line-height: 1em;
  position: relative;
  outline: 0;
  border: 0;
  color: black;
  text-align: center;
  height: 1.5em;
  opacity: 0.5;
}
.hr-text:before {
  content: '';
  background: linear-gradient(to right, transparent, #818078, transparent);
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 1px;
}
.hr-text:after {
  content: attr(data-content);
  position: relative;
  display: inline-block;
  color: black;
  padding: 0 0.5em;
  line-height: 1.5em;
  color: #818078;
  background-color: #fcfcfa;
}
</style>
