<template>
  <div class="container-fluid">
    <div class="col-sm-8 animated slideInUp faster" :style="{ zIndex: 9999 }">
      <HomePost />
    </div>
    <div class="col-sm-4">
      <ContestSideBar />
      <RatingTable title="Top 10 thí sinh" :limit="10" />
    </div>
  </div>
</template>

<script>
import HomePost from '@/components/HomePost'
import RatingTable from '@/components/RatingTable'
import ContestSideBar from '@/components/ContestSideBar'

export default {
  components: {
    HomePost,
    ContestSideBar,
    RatingTable,
  },
}
</script>
