<template>
  <div class="container">
    <div class="col-12-xs col-sm-5 col-sm-offset-3">
      <div class="panel panel-default">
        <div class="panel-body">
          <router-link to="/">
            <center>
              <img
                class="freecontest-logo"
                alt="Free Contest logo"
                src="../assets/logo.png"
              />
            </center>
          </router-link>
          <center>
            <h3>Đăng nhập vào Free Contest</h3>
          </center>
          <hr />
          <div v-if="FailAuthentication">
            <div role="alert" class="alert alert-danger">
              <strong>Lỗi!</strong>
              {{ ErrorMessage }}
            </div>
            <hr />
          </div>

          <form v-on:submit.prevent="LoginSubmit">
            <div class="form-group">
              <label>Tên đăng nhập</label>
              <input
                type="text"
                v-bind:disabled="formLoading"
                v-model="username"
                class="form-control"
                autofocus
                required
              />
            </div>
            <div class="form-group">
              <label>Mật khẩu</label>
              <input
                type="password"
                ref="password"
                v-bind:disabled="formLoading"
                v-model="password"
                class="form-control"
                required
              />
            </div>
            <div class="form-group">
              <btn
                native-type="submit"
                v-bind:disabled="formLoading"
                type="primary"
                v-bind:block="true"
                >Đăng nhập</btn
              >
            </div>
          </form>

          <hr />
          <div class="text-muted text-center">
            Chưa có tài khoản?
            <router-link to="register">Đăng ký tại đây</router-link>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Vue from 'vue'
import { mapState, mapActions } from 'vuex'

export default {
  computed: mapState({
    passport: (state) => state.passport,
  }),
  data: function () {
    return {
      username: '',
      password: '',
      formLoading: false,
      FailAuthentication: false,
      ErrorMessage: '',
      randomIDThumbnail: ~~(Math.random() * 4),
    }
  },
  methods: {
    ...mapActions(['fetchAPI']),
    LoginSubmit: async function (event) {
      this.FailAuthentication = false

      this.formLoading = true
      let AuthHandle = await this.fetchAPI({
        path: '/user/login',
        method: 'POST',
        params: {
          username: this.username,
          password: this.password,
        },
      })
      this.formLoading = false

      if (AuthHandle.success) {
        this.$toast.success('Đăng nhập thành công.', 'OK!')
        window.localStorage.setItem('access_token', AuthHandle.data.token)
        return this.$router.push({ name: 'Home' })
      }

      this.FailAuthentication = true
      this.ErrorMessage = AuthHandle.message

      this.password = ''
      let object = this.$refs.password
      return Vue.nextTick(function () {
        object.focus()
      })
    },
  },
  async created() {
    if (window.localStorage.getItem('access_token')) {
      return this.$router.push({ name: 'Home' })
    }
  },
}
</script>

<style scoped>
.container {
  padding-top: 30px;
}
.freecontest-logo {
  width: 80px;
  max-width: 100%;
}
.btn-primary {
  background-color: #16b;
  background-image: linear-gradient(#2d8cec, #16b);
  border-color: #16b #0b4075 #0b4075;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.75);
  font-weight: bold;
}
.btn-primary:hover {
  background-image: linear-gradient(#16b, #0b4075);
}
</style>
