<template>
  <div class="container">
    <div class="col-sm-4">
      <div class="panel panel-default">
        <div class="panel-body">
          <div v-if="Loading">
            <content-placeholders>
              <content-placeholders-img />
              <content-placeholders-heading />
              <content-placeholders-text />
            </content-placeholders>
          </div>
          <div v-else>
            <center>
              <img
                class="img-responsive profile-avt"
                :alt="paper.name"
                :src="
                  'https://www.gravatar.com/avatar/' +
                  paper.avatar +
                  '?d=mp&s=200'
                "
              />
              <h3>{{ paper.name }}</h3>
              <ColoringName :username="paper.username" :rating="paper.rating" />
              <hr />
              <p>
                <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                {{ paper.schoolName }}.
              </p>
              <p>Đã tham gia {{ moment(paper.createdAt).fromNow() }}.</p>
            </center>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-8 animated slideInUp faster">
      <ContestRegisteredSideBar :username="username" />
    </div>
  </div>
</template>

<script>
import moment from 'moment'
import { mapState, mapActions } from 'vuex'
import ColoringName from '@/components/ColoringName'
import ContestRegisteredSideBar from '@/components/ContestRegisteredSideBar'

export default {
  computed: mapState({
    passport: (state) => state.passport,
  }),
  components: {
    ColoringName,
    ContestRegisteredSideBar,
  },
  data: function () {
    return {
      moment,
      paper: {},
      username: '',
      moment: moment,
      Loading: true,
    }
  },
  methods: {
    ...mapActions(['fetchAPI']),
    fetchInfo: async function () {
      let query = new URLSearchParams()
      query.append('username', this.username)
      let InfoHandle = await this.fetchAPI({
        path: `/user/?${query.toString()}`,
        method: 'GET',
      })
      if (InfoHandle.success && InfoHandle.data.length > 0) {
        this.Loading = false
        return (this.paper = InfoHandle.data[0])
      }
      this.$toast.error(InfoHandle.message, 'Lỗi!')
      return this.$router.push({ name: 'Home' })
    },
  },
  created: async function () {
    this.moment.locale('vi')
    this.username = this.$route.params.username
    this.fetchInfo()
  },
}
</script>

<style scoped>
.profile-avt {
  border-radius: 50%;
}
</style>
