<template>
  <div class="col-sm-8 col-sm-offset-2 animated slideInUp faster">
    <RatingTable title="Rating (beta)" :showSchoolName="true" />
  </div>
</template>

<script>
import RatingTable from '@/components/RatingTable'
export default {
  components: {
    RatingTable,
  },
}
</script>
