<template>
  <div class="container">
    <div class="col-12-xs col-sm-5 col-sm-offset-3">
      <div class="panel panel-default">
        <div class="panel-body">
          <center>
            <router-link to="/">
              <img
                class="freecontest-logo"
                alt="Free Contest logo"
                src="../assets/logo.png"
              />
            </router-link>
            <h3>Đăng ký tài khoản</h3>
          </center>
          <hr />
          <div v-if="FailRegistrant">
            <div role="alert" class="alert alert-danger">
              <strong>Lỗi!</strong> {{ ErrorMessage }}
            </div>
            <hr />
          </div>
          <form v-on:submit.prevent="RegisterSubmit">
            <div v-if="step === 1">
              <div class="form-group">
                <label>Tên đăng nhập</label>
                <input
                  type="text"
                  v-bind:disabled="formLoading"
                  v-model="username"
                  class="form-control"
                  autofocus
                  required
                />
              </div>
              <div class="form-group">
                <label>Mật khẩu</label>
                <input
                  type="password"
                  v-bind:disabled="formLoading"
                  v-model="password"
                  class="form-control"
                  required
                />
              </div>
            </div>
            <div v-if="step === 1">
              <div class="form-group">
                <label>Họ và tên</label>
                <input
                  type="text"
                  v-bind:disabled="formLoading"
                  v-model="name"
                  class="form-control"
                  required
                />
              </div>
              <div class="form-group">
                <label>Trường</label>
                <input
                  type="text"
                  v-bind:disabled="formLoading"
                  v-model="schoolName"
                  class="form-control"
                  required
                />
              </div>
              <div class="form-group">
                <label>Năm sinh</label>
                <input
                  type="number"
                  v-bind:disabled="formLoading"
                  v-model="yob"
                  class="form-control"
                  required
                />
              </div>
            </div>
            <div class="form-group">
              <btn
                v-bind:disabled="formLoading"
                native-type="submit"
                v-if="step === 1"
                type="primary"
                v-bind:block="true"
                >Đăng ký</btn
              >
            </div>
          </form>
          <hr />
          <div class="text-muted text-center">
            Đã có tài khoản?
            <router-link to="login">Đăng nhập tại đây</router-link>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState, mapActions } from 'vuex'

export default {
  computed: mapState({
    passport: (state) => state.passport,
  }),
  data: function () {
    return {
      isShow: 0,
      step: 1,
      username: '',
      password: '',
      name: '',
      yob: '',
      schoolName: '',
      formLoading: false,
      FailRegistrant: false,
      ErrorMessage: '',
      randomIDThumbnail: ~~(Math.random() * 4),
    }
  },
  methods: {
    ...mapActions(['fetchAPI']),
    RegisterSubmit: async function (event) {
      this.FailRegistrant = false
      this.SuccessRegistrant = false

      this.formLoading = true
      let { name, username, password, yob, schoolName } = this
      let res = await this.fetchAPI({
        path: '/user/new',
        method: 'POST',
        params: {
          username,
          password,
          yob,
          schoolName,
          name,
        },
      })

      this.formLoading = false

      if (res.success) {
        this.$toast.success('Đăng ký thành công.', 'OK!')
        return this.$router.push({ name: 'Login' })
      }

      this.FailRegistrant = true
      this.ErrorMessage = res.message
      return
    },
  },
}
</script>

<style scoped>
.container {
  padding-top: 30px;
}
.freecontest-logo {
  width: 80px;
  max-width: 100%;
}
.btn-primary {
  background-color: #16b;
  background-image: linear-gradient(#2d8cec, #16b);
  border-color: #16b #0b4075 #0b4075;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.75);
  font-weight: bold;
}
.btn-primary:hover {
  background-image: linear-gradient(#16b, #0b4075);
}
</style>
