<template>
  <span :class="[colorClass]">{{ username }}</span>
</template>

<script>
export default {
  props: {
    username: String,
    rating: Number,
  },
  data: function () {
    return {
      colorClass: '',
      toClass: [
        'dark-red',
        'black',
        'gray',
        'green',
        'cyan',
        'blue',
        'violet',
        'orange',
        'orange',
        'red',
        'red',
        'super-red',
      ],
    }
  },
  methods: {
    getColor(rating) {
      if (rating <= 0) return 1
      if (1 <= rating && rating <= 1199) return 2
      if (1200 <= rating && rating <= 1399) return 3
      if (1400 <= rating && rating <= 1599) return 4
      if (1600 <= rating && rating <= 1899) return 5
      if (1900 <= rating && rating <= 2199) return 6
      if (2200 <= rating && rating <= 2299) return 7
      if (2300 <= rating && rating <= 2399) return 8
      if (2400 <= rating && rating <= 2599) return 9
      if (2600 <= rating && rating <= 2899) return 10
      if (2900 <= rating) return 10
    },
  },
  created() {
    this.colorClass = this.toClass[this.getColor(this.rating)]
  },
}
</script>

<style scoped>
.dark-red,
.dark-red:hover {
  font-weight: bold;
  color: #7d021e !important;
}

.black,
.black:hover {
  color: #333 !important;
}

.bold-black,
.bold-black:hover {
  color: black;
  font-weight: bold;
}

.gray,
.gray:hover {
  color: gray;
  font-weight: bold;
}

.green,
.green:hover {
  color: green;
  font-weight: bold;
}

.cyan,
.cyan:hover {
  color: #03a89e;
  font-weight: bold;
}

.blue,
.blue:hover {
  color: blue;
  font-weight: bold;
}

.violet,
.violet:hover {
  color: #a0a;
  font-weight: bold;
}

.orange,
.orange:hover {
  color: #ff8c00;
  font-weight: bold;
}

.red,
.red:hover {
  color: red;
  font-weight: bold;
}

.super-red,
.super-red:hover {
  color: gray;
  font-weight: bold;
}
</style>
