<template>
  <div v-if="Loading">
    <div class="panel panel-default">
      <div class="panel-body">
        <content-placeholders :style="{ marginTop: '20px' }">
          <content-placeholders-heading />
          <content-placeholders-text :lines="3" />
        </content-placeholders>
      </div>
    </div>
  </div>
  <div
    class="panel panel-default"
    v-else-if="UpcomingContest.length + PresentContest.length > 0"
  >
    <div class="panel-body">
      <legend v-if="PresentContest.length + UpcomingContest.length > 0">
        <h4>Kỳ thi đang/sắp diễn ra</h4>
      </legend>
      <div v-if="PresentContest.length > 0">
        <div v-for="(contest, index) in PresentContest" :key="index">
          <center>
            <h4
              v-if="
                contest.facebookUrl == null || contest.facebookUrl == undefined
              "
            >
              {{ contest.name }}
            </h4>
            <a
              target="_blank"
              :href="contest.facebookUrl"
              v-if="
                contest.facebookUrl != null && contest.facebookUrl != undefined
              "
            >
              <h4>{{ contest.name }}</h4>
            </a>
            <p>Đã bắt đầu {{ moment(contest.startTime).from(moment()) }}</p>
            <p>
              <a
                style="text-decoration: none;"
                target="_blank"
                :href="
                  'https://www.timeanddate.com/worldclock/fixedtime.html?iso=' +
                    contest.startTime
                "
                >{{ moment(contest.startTime).format('llll') }}</a
              >
            </p>
          </center>
          <div v-if="!contest.hasRegistered">
            <router-link :to="'/incontest/register/' + contest._id">
              <button class="btn btn-primary btn-block">Đăng ký</button>
            </router-link>
          </div>
          <div v-if="contest.hasRegistered">
            <router-link :to="'/cmslogin/' + contest._id">
              <button class="btn btn-primary btn-block">
                <i class="fa fa-external-link" aria-hidden="true"></i> Tham gia
                ngay
              </button>
            </router-link>
          </div>
          <hr />
        </div>
      </div>

      <div v-if="UpcomingContest.length > 0">
        <div v-for="(contest, index) in UpcomingContest" :key="index">
          <center>
            <h4
              v-if="
                contest.facebookUrl == null || contest.facebookUrl == undefined
              "
            >
              {{ contest.name }}
            </h4>
            <a
              target="_blank"
              :href="contest.facebookUrl"
              v-if="
                contest.facebookUrl != null && contest.facebookUrl != undefined
              "
            >
              <h4>{{ contest.name }}</h4>
            </a>
            <p>Bắt đầu sau {{ moment(contest.startTime).from(moment()) }}</p>
            <p>
              <a
                style="text-decoration: none;"
                target="_blank"
                :href="
                  'https://www.timeanddate.com/worldclock/fixedtime.html?iso=' +
                    contest.startTime
                "
                >{{ moment(contest.startTime).format('llll') }}</a
              >
            </p>
          </center>
          <div v-if="!contest.hasRegistered">
            <router-link :to="'/incontest/register/' + contest._id">
              <button class="btn btn-default btn-block">Đăng ký</button>
            </router-link>
          </div>
          <div v-if="contest.hasRegistered">
            <div class="alert alert-success text-center">Đã đăng ký</div>
          </div>
          <hr />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import moment from 'moment'
import { mapActions } from 'vuex'

export default {
  data: function() {
    return {
      data: [],
      UpcomingContest: [],
      PresentContest: [],
      moment: moment,
      Loading: true
    }
  },
  methods: {
    ...mapActions(['fetchAPI']),
    loadContest: async function() {
      let contest = await this.fetchAPI({
        path: '/contest',
        method: 'GET'
      }).then(c => c.data)
      contest = contest.sort((a, b) => b.startTime - a.startTime)

      let UpcomingContest = [],
        PresentContest = []

      let currentTime = new Date().getTime()
      contest.forEach(c => {
        if (c.endTime < currentTime) return
        if (c.startTime > currentTime) return UpcomingContest.unshift(c)
        return PresentContest.unshift(c)
      })

      this.UpcomingContest = UpcomingContest
      this.PresentContest = PresentContest
      this.Loading = false
    }
  },
  async created() {
    moment.locale('vi')
    await this.loadContest()
  }
}
</script>

<style scoped>
.btn {
  border-radius: 2px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: 400;
}
.btn-primary {
  background-color: rgb(0, 120, 212);
  transition: 0.3s;
}
.btn-default {
  background-color: rgb(255, 255, 255);
  border-width: 2px;
  border-style: solid;
  border-color: rgb(138, 136, 134);
  transition: 0.3s;
}
.btn-default:hover {
  background-color: rgb(0, 120, 212);
  border-color: rgb(0, 120, 212);
  color: rgb(255, 255, 255);
}
.alert {
  border-radius: 2px;
  padding: 5px;
}
</style>
