<template>
  <div v-if="Loading">
    <div class="panel panel-default">
      <div class="panel-body">
        <content-placeholders :style="{ marginTop: '20px' }">
          <content-placeholders-heading />
          <content-placeholders-text :lines="3" />
        </content-placeholders>
      </div>
    </div>
  </div>
  <div v-else class="panel panel-default">
    <div class="panel-body">
      <legend>
        <h4>Những kỳ thi {{ username ? username : 'bạn' }} đã đăng ký</h4>
      </legend>
      <div v-if="!passport.logined">
        <p>Bạn chưa đăng nhập</p>
      </div>
      <div v-else>
        <div
          class="text-center"
          v-for="(contest, index) in registeredContest"
          :key="index"
        >
          <h4>{{ contest.name }}</h4>
          <p>
            <a
              style="text-decoration: none;"
              target="_blank"
              :href="
                'https://www.timeanddate.com/worldclock/fixedtime.html?iso=' +
                  contest.startTime
              "
              >{{ moment(contest.startTime).format('llll') }}</a
            >
          </p>
          <hr />
        </div>
        <div v-if="registeredContest.length == 0">
          Bạn chưa đăng ký kỳ thi nào
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import moment from 'moment'
import { mapState, mapActions } from 'vuex'
export default {
  computed: mapState({
    passport: state => state.passport
  }),
  data: function() {
    return {
      moment,
      registeredContest: [],
      Loading: true
    }
  },
  props: {
    username: String
  },
  methods: {
    ...mapActions(['fetchAPI']),
    async fetchRegistered() {
      let opts = {
        path: '/contest/registered',
        method: 'GET'
      }
      if (this.username) {
        let query = new URLSearchParams()
        query.append('username', this.username)
        opts.path += `?${query.toString()}`
      }
      const registeredContest = await this.fetchAPI(opts).then(rc => rc.data)
      this.registeredContest = registeredContest
      this.Loading = false
    }
  },
  created() {
    if (this.passport.logined) {
      this.fetchRegistered()
    } else {
      this.Loading = false
    }
  }
}
</script>
