<template>
  <small v-if="remaining.d === '0'"
    >{{ remaining.h }}h{{ remaining.m }}m{{ remaining.s }}</small
  >
  <small v-else>{{ remaining.d }}d{{ remaining.h }}h</small>
</template>

<script>
import moment from 'moment'
import { setInterval, clearInterval } from 'timers'
export default {
  data: function () {
    return {
      remaining: {
        h: 0,
        m: 0,
        s: 0,
        d: 0,
      },
      intervalCountDown: '',
    }
  },
  props: {
    time: Number,
  },
  methods: {
    refactor() {
      let remainingInSecond =
        (-1 * new Date().getTime() + new Date(this.time).getTime()) / 1000
      if (remainingInSecond <= 1) {
        clearInterval(this.intervalCountDown)
        window.location.reload()
      }

      let tmp = {
        remaining: {
          d: 0,
          h: 0,
          m: 0,
          s: 0,
        },
      }

      tmp.remaining.d = Math.floor(remainingInSecond / 86400)
      remainingInSecond -= tmp.remaining.d * 86400
      tmp.remaining.h = Math.floor(remainingInSecond / 3600)
      remainingInSecond -= tmp.remaining.h * 3600
      tmp.remaining.m = Math.floor(remainingInSecond / 60)
      remainingInSecond -= tmp.remaining.m * 60
      tmp.remaining.s = Math.floor(remainingInSecond)

      tmp.remaining.d = tmp.remaining.d.toString()
      tmp.remaining.h = tmp.remaining.h.toString()
      tmp.remaining.m = tmp.remaining.m.toString()
      tmp.remaining.s = tmp.remaining.s.toString()

      if (tmp.remaining.d.length === 1) tmp.remaining.d = '0' + tmp.remaining.d
      if (tmp.remaining.h.length === 1) tmp.remaining.h = '0' + tmp.remaining.h
      if (tmp.remaining.m.length === 1) tmp.remaining.m = '0' + tmp.remaining.m
      if (tmp.remaining.s.length === 1) tmp.remaining.s = '0' + tmp.remaining.s

      this.remaining = tmp.remaining
    },
    todo: function () {
      const self = this
      this.intervalCountDown = setInterval(() => {
        this.refactor()
      }, 1000)
    },
  },
  created: function () {
    this.refactor()
  },
  mounted: function () {
    this.todo()
  },
  beforeDestroy: function () {
    clearInterval(this.intervalCountDown)
  },
}
</script>
