<template>
  <small>{{ remaining }}</small>
</template>

<script>
import moment from 'moment'
import { setInterval, clearInterval } from 'timers'
export default {
  data: function () {
    return {
      remaining: '',
      intervalCountDown: '',
    }
  },
  props: {
    time: String,
  },
  methods: {
    refactor() {
      this.remaining = moment(this.time).fromNow()
    },
    todo: function () {
      this.intervalCountDown = setInterval(() => {
        this.refactor()
      }, 1000)
    },
  },
  created: function () {
    this.refactor()
  },
  mounted: function () {
    this.todo()
  },
  beforeDestroy: function () {
    clearInterval(this.intervalCountDown)
  },
}
</script>
