<template>
  <div v-if="Loading">
    <div class="panel panel-default">
      <div class="panel-body">
        <content-placeholders :style="{ marginTop: '20px' }">
          <content-placeholders-heading />
          <content-placeholders-text />
        </content-placeholders>
      </div>
    </div>
  </div>
  <div v-else>
    <div v-for="(post, index) in Posts" :key="index">
      <div class="panel panel-default" v-if="post.isShow">
        <div class="panel-body">
          <h2>{{ post.title }}</h2>
          <span
            v-if="passport.logined && passport.role === 'admin'"
            class="pull-right"
          >
            <dropdown ref="dropdown">
              <btn type="default" class="dropdown-toggle">
                <span class="caret"></span>
              </btn>
              <template slot="dropdown">
                <li>
                  <router-link :to="'/post/update/' + post._id">
                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                    Sửa
                  </router-link>
                </li>
                <li>
                  <a @click="deletePost(post)">
                    <i class="fa fa-trash" aria-hidden="true"></i> Xoá
                  </a>
                </li>
              </template>
            </dropdown>
          </span>
          <p>
            <small>
              <a class="font-black" :href="'/profile/' + post.author">
                <strong>{{ post.author }}</strong>
              </a>
              •
              {{ moment(post.createdAt).fromNow() }}
              <span v-if="post.createdAt !== post.updatedAt"
                >• Đã chỉnh sửa</span
              >
            </small>
          </p>
          <hr />
          <vue-markdown class="wordwrap" :source="post.content"></vue-markdown>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import moment from 'moment'
import { mapActions, mapState } from 'vuex'
import VueMarkdown from 'vue-markdown'

export default {
  computed: mapState({
    passport: state => state.passport
  }),
  components: {
    VueMarkdown
  },
  data: function() {
    return {
      Posts: [],
      moment: moment,
      Loading: true
    }
  },
  methods: {
    ...mapActions(['fetchAPI']),
    loadPost: async function() {
      let Post = await this.fetchAPI({ path: '/post/', method: 'GET' }).then(
        p => p.data
      )
      Post = Post.map(p => {
        return { ...p, isShow: true, isDeleting: false }
      })
      this.Posts = Post
      this.Loading = false
      return true
    },
    async deletePost(post) {
      post.isDeleting = true
      const DeleteHandle = await this.fetchAPI({
        path: '/post/delete',
        method: 'POST',
        params: { postId: post._id }
      })
      post.isDeleting = false
      if (DeleteHandle.success) {
        post.isShow = false
        return this.$toast.success(DeleteHandle.message, 'OK!')
      }
      return this.$toast.error(DeleteHandle.message, 'Lỗi')
    }
  },
  async created() {
    moment.locale('vi')
    this.loadPost()
  }
}
</script>

<style scoped>
.font-black {
  color: #000000;
}
.wordwrap {
  white-space: pre-wrap; /* CSS3 */
  white-space: -moz-pre-wrap; /* Firefox */
  white-space: -pre-wrap; /* Opera <7 */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word; /* IE */
}
.btn {
  border-radius: 2px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: 400;
}
.btn-primary {
  background-color: rgb(0, 120, 212);
  transition: 0.3s;
}
.btn-success:disabled {
  background-color: #217346;
}
.btn-success:disabled:hover {
  background-color: #217346;
  border-color: #4cae4c;
}
.btn-default {
  background-color: rgb(255, 255, 255);
  border-width: 2px;
  border-style: solid;
  border-color: rgb(138, 136, 134);
  transition: 0.3s;
}
.btn-default:hover {
  background-color: rgb(0, 120, 212);
  border-color: rgb(0, 120, 212);
  color: rgb(255, 255, 255);
}
.btn-danger {
  margin-left: 5px;
  border-width: 2px;
  transition: 0.3s;
}
.dropdown-menu {
  z-index: inherit !important;
}
</style>
