<template>
  <div class="panel panel-default">
    <div class="panel-body">
      <small class="text-muted">
        &copy; 2019 Free Contest •
        <router-link to="/">Trang chủ</router-link> •
        <router-link to="/contest">Kỳ thi</router-link>
      </small>
    </div>
  </div>
</template>
