<template>
  <div v-if="data.length > 0">
    <div v-for="(contest, index) in data" :key="index">
      <div class="panel panel-default">
        <div class="panel-body">
          <div
            role="button"
            @click="toggleAccordion(index)"
            class="contest-box"
            style="padding: 5px 0 5px 0;"
          >
            <span class="contest-title muted-text">{{ contest.name }}</span>
            <div class="pull-right">
              <span class="sperated-dot"></span>
              <div style="display: inline-block;" v-if="contest.hasRegistered">
                <router-link :to="'cmslogin/' + contest._id">
                  <btn
                    :block="true"
                    :disabled="
                      new Date(contest.startTime).getTime() -
                        new Date().getTime() >
                      0
                    "
                    type="primary"
                    >Tham gia</btn
                  >
                </router-link>
              </div>
              <div style="display: inline-block;" v-else>
                <router-link :to="'/incontest/register/' + contest._id">
                  <btn :block="true" type="default">Ghi danh</btn>
                </router-link>
              </div>
            </div>
            <div style="margin-top: 20px;">
              <ProgressTime
                :startTime="contest.startTime"
                :endTime="contest.endTime"
              ></ProgressTime>
            </div>
          </div>
          <collapse v-model="showAccordion[index]">
            <hr />
            <ul>
              <li v-if="contest.registeredCount > 0">
                {{ contest.registeredCount }} thí sinh đã đăng ký
              </li>
              <li v-else>Chưa có thí sinh nào đăng ký</li>
              <li>Thời lượng: {{ contest.duration }} tiếng</li>
              <li>Bắt đầu: {{ moment(contest.startTime).format('LLLL') }}</li>
            </ul>
            <div
              v-if="passport.logined && passport.role === 'admin'"
              class="text-right"
            >
              <hr />
              <router-link :to="'/contest/update/' + contest._id">
                <btn type="default">
                  <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                  Sửa
                </btn>
              </router-link>
            </div>
          </collapse>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import moment from 'moment'

import ProgressTime from '@/components/ProgressTime'
import CountDownText from '@/components/CountDownText'

export default {
  props: {
    data: Array,
    passport: Object,
  },
  components: {
    ProgressTime,
    CountDownText,
  },
  data: function () {
    return {
      moment: moment,
      showAccordion: [],
    }
  },
  methods: {
    toggleAccordion(index) {
      if (this.showAccordion[index]) {
        this.$set(this.showAccordion, index, false)
      } else {
        this.$set(this.showAccordion, index, true)
      }
    },
  },
  created: function () {
    this.moment.locale('vi')
    this.showAccordion = new Array(this.data.length)
    for (let i = 0; i < this.data.length; ++i) {
      this.showAccordion[i] = false
    }
  },
}
</script>

<style scoped>
@import url('https://fonts.googleapis.com/css?family=Chakra+Petch');
.brand-contest {
  color: royalblue;
  font-family: 'Chakra Petch', sans-serif;
}
.contest-title {
  font-size: 23px;
  font-family: 'Chakra Petch', sans-serif;
  color: #323130;
}

.sperated-dot {
  margin-left: 15px;
}

.muted-text {
  color: #4e4e4e;
}
.muted-text-2 {
  color: #797979;
}
.small-progress {
  height: 10px;
}

.btn {
  border-radius: 2px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: 400;
}
.btn-primary {
  background-color: rgb(0, 120, 212);
  transition: 0.3s;
}
.btn-default {
  background-color: rgb(255, 255, 255);
  border-width: 2px;
  border-style: solid;
  border-color: rgb(138, 136, 134);
  transition: 0.3s;
}
.btn-default:hover {
  background-color: rgb(0, 120, 212);
  border-color: rgb(0, 120, 212);
  color: rgb(255, 255, 255);
}
.panel {
  padding-bottom: 0px !important;
}

ul li {
  margin-left: -22px;
}
</style>
