<template>
  <!-- <progress-bar
    label
    label-text="Đang diễn ra"
    v-model="progress"
    striped
    active
  />-->

  <div class="progress">
    <div
      class="progress-bar progress-bar-striped active"
      role="progressbar"
      :aria-valuenow="progress"
      aria-valuemin="0"
      aria-valuemax="100"
      v-bind:style="{ width: Math.min(100, progress) + '%' }"
    >
      <span v-if="progress < 100">
        Đang diễn ra •
        <CountUp :time="startTime" />
      </span>
      <span v-else>Đã kết thúc</span>
    </div>
  </div>
</template>
<style scoped>
.progress-bar {
  background-color: rgb(0, 120, 212) !important;
}
</style>
<script>
import CountUp from '@/components/CountUp'
export default {
  components: {
    CountUp,
  },
  props: {
    startTime: Number,
    endTime: Number,
  },
  data: function () {
    return {
      progress: 0,
      duration: 0,
      intervalCountDown: '',
    }
  },
  methods: {
    __apply: function () {
      let current = new Date().getTime() - this.startTime
      this.progress = Math.round((current / this.duration) * 100)
    },
    todo: function () {
      this.intervalCountDown = setInterval(() => {
        this.__apply()
      }, 1000)
    },
  },
  created() {
    this.startTime = new Date(this.startTime).getTime()
    this.endTime = new Date(this.endTime).getTime()
    this.duration = this.endTime - this.startTime
    this.__apply()
  },
  mounted: function () {
    this.todo()
  },
  beforeDestroy: function () {
    clearInterval(this.intervalCountDown)
  },
}
</script>
