<template>
  <div v-if="Loading">
    <div class="panel panel-default">
      <div class="panel-body">
        <content-placeholders :style="{ marginTop: '20px' }">
          <content-placeholders-heading />
          <content-placeholders-text :lines="3" />
        </content-placeholders>
      </div>
    </div>
  </div>
  <div v-else class="panel panel-default">
    <div class="panel-body">
      <legend>
        <h4>{{ title }}</h4>
      </legend>
      <table
        class="table table-default table-bordered table-hover table-condensed"
      >
        <thead>
          <tr>
            <th class="text-center">Rank</th>
            <th class="text-center">Username</th>
            <th class="text-center">Rating</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(user, index) in ranking" :key="index">
            <td class="text-center">{{ index + 1 }}</td>
            <td :class="showSchoolName ? '' : 'text-center'">
              <router-link :to="'/profile/' + user.username">
                <ColoringName :username="user.username" :rating="user.rating" />
              </router-link>
              <small
                v-if="showSchoolName"
                class="pull-right muted-text school-name"
                >{{ user.schoolName }}</small
              >
            </td>
            <td class="text-center">
              <ColoringName
                :username="user.rating.toString()"
                :rating="user.rating"
              />
            </td>
          </tr>
        </tbody>
      </table>
      <div v-if="limit" class="text-right">
        <router-link to="/rating">
          <span>Xem toàn bộ</span>
        </router-link>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions } from 'vuex'
import ColoringName from '@/components/ColoringName'
export default {
  components: {
    ColoringName
  },
  props: {
    limit: Number,
    title: String,
    showSchoolName: Boolean
  },
  data: function() {
    return {
      ranking: [],
      Loading: true
    }
  },
  methods: {
    ...mapActions(['fetchAPI']),
    async fetchRanking() {
      let query = new URLSearchParams()
      if (this.limit) {
        query.append('limit', this.limit)
      }
      query.append('ratingGt0', true)
      let ranking = await this.fetchAPI({
        path: `/user/?${query.toString()}`,
        method: 'GET'
      }).then(r => r.data)
      this.ranking = ranking
      this.Loading = false
    }
  },
  created() {
    this.fetchRanking()
  }
}
</script>

<style scoped>
.muted-text {
  color: #797979;
}
.school-name {
  margin-top: 4px;
}
a {
  text-decoration: none;
}
</style>
