<template>
  <div>
    <div
      v-for="(contest, index) in filteredTable"
      :key="index"
      class="panel panel-default"
    >
      <div class="panel-body">
        <div
          role="button"
          @click="toggleAccordion(index)"
          class="contest-box"
          style="padding: 5px 0 5px 0;"
        >
          <span class="contest-title muted-text">{{ contest.name }}</span>
          <span class="contest-title pull-right">
            <small class="muted-text-2"
              >{{ moment(contest.startTime).format('L') }}
            </small>
          </span>
        </div>
        <collapse v-model="showAccordion[index]">
          <hr />
          <ul>
            <li><strong>Đã kết thúc</strong></li>
            <li v-if="contest.registeredCount > 0">
              {{ contest.registeredCount }} thí sinh đã đăng ký
            </li>
            <li v-else>Không có thí sinh nào đăng ký</li>
            <li>Thời lượng: {{ contest.duration }} tiếng</li>
            <li>Ngày thi: {{ moment(contest.startTime).format('LLLL') }}</li>
          </ul>
          <div>
            <hr v-if="contest.facebookUrl || contest.practiceUrl" />
            <btn v-if="contest.facebookUrl" size="xs" type="primary">
              <i class="fa fa-external-link" aria-hidden="true"></i> Facebook
            </btn>
            <span v-if="contest.practiceUrl"> | </span>
            <btn v-if="contest.practiceUrl" size="xs" type="success">
              <i class="fa fa-external-link" aria-hidden="true"></i> Luyện tập
            </btn>
          </div>
          <div
            v-if="passport.logined && passport.role === 'admin'"
            class="text-right"
          >
            <hr />
            <router-link :to="'/contest/update/' + contest._id">
              <btn type="default"
                ><i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                Sửa</btn
              >
            </router-link>
          </div>
        </collapse>
      </div>
    </div>
    <div>
      <pagination
        v-if="paging.currentPage && paging.totalPage"
        v-model="paging.currentPage"
        :total-page="paging.totalPage"
        align="center"
      />
    </div>
  </div>
</template>

<script>
import moment from 'moment'

export default {
  props: {
    data: Array,
    passport: Object,
  },
  watch: {
    'paging.currentPage': function () {
      this.pagingTable(this.paging.currentPage)
    },
  },
  data: function () {
    return {
      moment: moment,
      showAccordion: Array,
      filteredTable: [],
      paging: {
        itemsPerPage: 10,
        currentPage: undefined,
        totalPage: undefined,
      },
    }
  },
  methods: {
    toggleAccordion(index) {
      if (this.showAccordion[index]) {
        this.$set(this.showAccordion, index, false)
      } else {
        this.showAccordion = this.showAccordion.map((v, i) => i === index)
      }
    },
    pagingTable: function (pageNum) {
      let start = (pageNum - 1) * this.paging.itemsPerPage
      let end = start + this.paging.itemsPerPage
      this.filteredTable = this.data.slice(start, end)
    },
  },
  created: function () {
    this.moment.locale('vi')
    this.showAccordion = new Array(this.data.length)
    for (let i = 0; i < this.data.length; ++i) {
      this.showAccordion[i] = false
    }

    this.paging.currentPage = 1
    this.paging.totalPage = Math.round(
      this.data.length / this.paging.itemsPerPage
    )
  },
}
</script>
<style scoped>
@import url('https://fonts.googleapis.com/css?family=Chakra+Petch');

.contest-title {
  font-size: 23px;
  font-family: 'Chakra Petch', sans-serif;
  font-weight: 400;
}
.muted-text {
  color: #4e4e4e;
}
.muted-text-2 {
  color: #797979;
}
.btn {
  border-radius: 2px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: 400;
}
.btn-primary {
  background-color: rgb(0, 120, 212);
  transition: 0.3s;
}
.btn-default {
  background-color: rgb(255, 255, 255);
  border-width: 2px;
  border-style: solid;
  border-color: rgb(138, 136, 134);
  transition: 0.3s;
}
.btn-default:hover {
  background-color: rgb(0, 120, 212);
  border-color: rgb(0, 120, 212);
  color: rgb(255, 255, 255);
}
.panel {
  padding-bottom: 0px !important;
}
ul li {
  margin-left: -22px;
}
</style>
