<template>
  <div>
    <h3>Các kỳ thi đã đăng ký</h3>
    <hr />
    <div class="panel panel-default">
      <div class="table-responsive">
        <table
          class="table table-curved table-default table-striped table-hover table-condensed table-bordered small"
        >
          <thead>
            <tr>
              <th class="text-center">
                Bắt đầu
                <small>(ICT)</small>
              </th>
              <th class="text-center">Tên kỳ thi</th>
              <th class="text-center">Đăng ký</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="contest in filteredTable" :key="contest.id">
              <td class="text-center vertical-middle">
                <a
                  :href="
                    'https://www.timeanddate.com/worldclock/fixedtime.html?iso=' +
                    contest.startTime
                  "
                  target="_blank"
                  >{{ moment(contest.startTime).fromNow() }}</a
                >
              </td>
              <td class="text-center vertical-middle">
                <div v-if="contest.facebook_url">
                  <a target="_blank" :href="contest.facebook_url">{{
                    contest.name
                  }}</a>
                </div>
                <div v-else>{{ contest.name }}</div>
              </td>
              <td class="text-center vertical-middle">
                {{ moment(registratrant[contest.id].createdAt).fromNow() }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div style="margin-top: -20px;">
      <pagination
        v-if="paging.currentPage && paging.totalPage"
        v-model="paging.currentPage"
        :total-page="paging.totalPage"
        size="sm"
        align="center"
      />
    </div>
  </div>
</template>

<script>
import moment from 'moment'
import { mapState } from 'vuex'

export default {
  computed: mapState({
    fetchAPI: (state) => state.fetchAPI,
    infinite: (state) => state.infinite,
  }),
  props: {
    user_id: Number,
    registered_log: Array,
  },
  data: function () {
    return {
      data: [],
      filteredTable: [],
      moment: moment,
      registratrant: {},
      paging: {
        itemsPerPage: 10,
        currentPage: undefined,
        totalPage: undefined,
      },
    }
  },
  watch: {
    'paging.currentPage': function () {
      this.pagingTable(this.paging.currentPage)
    },
  },
  methods: {
    initial: function () {
      for (let re of this.registered_log) {
        this.registratrant[re.cid] = re
      }
    },
    pagingTable: function (pageNum) {
      let start = (pageNum - 1) * this.paging.itemsPerPage
      let end = start + this.paging.itemsPerPage
      this.filteredTable = this.data.slice(start, end)
    },
    fetchContest: async function (user_id) {
      let data = await this.fetchAPI(
        `/contest?uid=${user_id}&limit=${this.infinite}`,
        'GET'
      ).then((r) => r.json())
      this.data = data
        .filter((contest) => contest.isRegistered)
        .sort(function (a, b) {
          return (
            new Date(b.startTime).getTime() - new Date(a.startTime).getTime()
          )
        })
      this.paging.currentPage = 1
      this.paging.totalPage = Math.round(
        this.data.length / this.paging.itemsPerPage
      )
      this.pagingTable(this.paging.currentPage)
    },
  },
  created: async function () {
    this.initial()
    await this.fetchContest(this.user_id)
  },
}
</script>
