<template>
  <div class="list-group">
    <router-link
      :class="
        $route.path === opt.path ? 'list-group-item active' : 'list-group-item'
      "
      v-for="opt in options"
      :key="opt.path"
      :to="opt.path"
    >
      {{ opt.content }}
      <span class="pull-right">
        <i class="fa fa-chevron-right" aria-hidden="true"></i>
      </span>
    </router-link>
  </div>
</template>

<script>
export default {
  data: function () {
    return {
      options: [
        {
          path: '/settings/account',
          content: 'Cập nhật thông tin',
        },
        {
          path: '/settings/avatar',
          content: 'Cập nhật ảnh đại diện',
        },
      ],
    }
  },
}
</script>
