<template>
  <div class="twPc-div">
    <a class="twPc-bg twPc-block"></a>
    <div>
      <router-link
        :title="passport.name"
        class="twPc-avatarLink"
        :to="'/profile/' + passport.username"
      >
        <img
          class="twPc-avatarImg"
          :alt="passport.name"
          :src="
            'https://www.gravatar.com/avatar/' + passport.avatar + '?d=mp&s=200'
          "
        />
      </router-link>
      <div class="twPc-divUser">
        <div class="twPc-divName">
          <router-link :to="'/profile/' + passport.username">
            {{ passport.name }}
          </router-link>
        </div>
        <span>
          <router-link :to="'/profile/' + passport.username">
            @<span>{{ passport.username }}</span>
          </router-link>
        </span>
      </div>
    </div>
  </div>
</template>

<style scoped>
.twPc-div {
  background: #fff none repeat scroll 0 0;
  border: 1px solid #e1e8ed;
  border-radius: 6px;
  height: 155px;
  max-width: 100%;
  margin-bottom: 20px;
}
.twPc-bg {
  /* background-image: url("https://pbs.twimg.com/profile_banners/50988711/1384539792/600x200"); */
  background-image: radial-gradient(
    circle 1084px at 0.8% 97.8%,
    rgba(7, 3, 98, 1) 0%,
    rgba(179, 26, 132, 1) 52%,
    rgba(231, 177, 81, 1) 100.2%
  );
  background-position: 0 50%;
  background-size: 100% auto;
  border-bottom: 1px solid #e1e8ed;
  border-radius: 4px 4px 0 0;
  height: 95px;
  width: 100%;
}
.twPc-block {
  display: block !important;
}
.twPc-button {
  margin: -35px -10px 0;
  text-align: right;
  width: 100%;
}
.twPc-avatarLink {
  background-color: #fff;
  border-radius: 6px;
  /* display: inline-block !important; */
  float: left;
  margin: -30px 5px 0 8px;
  max-width: 100%;
  padding: 1px;
  vertical-align: bottom;
}
.twPc-avatarImg {
  border: 2px solid #fff;
  border-radius: 7px;
  box-sizing: border-box;
  color: #fff;
  height: 72px;
  width: 72px;
}
.twPc-divUser {
  margin: 5px 0 0;
}
.twPc-divName {
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
}
.twPc-divName a {
  color: inherit !important;
}
</style>

<script>
import { mapState } from 'vuex'
export default {
  computed: mapState({
    passport: state => state.passport
  })
}
</script>
