<template>
  <div v-if="data.length > 0">
    <div
      v-for="(contest, index) in data"
      :key="index"
      class="panel panel-default upcoming"
    >
      <div class="panel-body">
        <div
          role="button"
          @click="toggleAccordion(index)"
          class="contest-box"
          style="padding: 5px 0 5px 0;"
        >
          <span class="contest-title muted-text">{{ contest.name }}</span>
          <span class="pull-right">
            <div
              style="display: inline-block;"
              class="contest-title muted-text-2"
            >
              <CountDown :time="contest.startTime" />
            </div>
            <span class="sperated-dot"></span>
            <div style="display: inline-block;" v-if="contest.hasRegistered">
              <btn type="success" :disabled="true">Đã đăng ký</btn>
            </div>
            <div style="display: inline-block; vertical-align: ;" v-else>
              <router-link :to="'/incontest/register/' + contest._id">
                <btn :block="true" type="default">Đăng ký</btn>
              </router-link>
            </div>
          </span>
        </div>
        <collapse v-model="showAccordion[index]">
          <hr />
          <ul>
            <li>
              <strong>Sắp diễn ra</strong>
            </li>
            <li v-if="contest.registeredCount > 0">
              {{ contest.registeredCount }} thí sinh đã đăng ký
            </li>
            <li v-else>Chưa có thí sinh nào đăng ký</li>
            <li>Thời lượng: {{ contest.duration }} tiếng</li>
            <li>Ngày thi: {{ moment(contest.startTime).format('LLLL') }}</li>
          </ul>
          <div
            v-if="passport.logined && passport.role === 'admin'"
            class="text-right"
          >
            <hr />
            <router-link :to="'/contest/update/' + contest._id">
              <btn type="default">
                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                Sửa
              </btn>
            </router-link>
          </div>
        </collapse>
      </div>
    </div>
  </div>
</template>

<script>
import moment from 'moment'
import CountDown from '@/components/CountDown'
import CountDownText from '@/components/CountDownText'

export default {
  props: {
    data: Array,
    passport: Object
  },
  components: {
    CountDown,
    CountDownText
  },
  data: function() {
    return {
      moment: moment,
      showAccordion: []
    }
  },
  methods: {
    toggleAccordion(index) {
      if (this.showAccordion[index]) {
        this.$set(this.showAccordion, index, false)
      } else {
        this.showAccordion = this.showAccordion.map((v, i) => i === index)
      }
    }
  },
  created: function() {
    this.moment.locale('vi')
    this.showAccordion = new Array(this.data.length)
    for (let i = 0; i < this.data.length; ++i) {
      this.showAccordion[i] = false
    }
  }
}
</script>

<style scoped>
@import url('https://fonts.googleapis.com/css?family=Chakra+Petch');
.brand-contest {
  color: royalblue;
}
.sperated-dot {
  margin-left: 15px;
}
.contest-title {
  font-size: 23px;
  font-weight: bold;
}
.contest-title {
  font-size: 23px;
  font-family: 'Chakra Petch', sans-serif;
  font-weight: 400;
}
.muted-text {
  color: #4e4e4e;
}
.muted-text-2 {
  color: #797979;
}

.btn {
  margin-top: -6px;
  border-radius: 2px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: 400;
}
.btn-primary {
  background-color: #8484c1;
  transition: 0.3s;
}
.btn-success:disabled {
  background-color: #217346;
}
.btn-success:disabled:hover {
  background-color: #217346;
  border-color: #4cae4c;
}
.btn-default {
  background-color: rgb(255, 255, 255);
  border-width: 2px;
  border-style: solid;
  border-color: rgb(138, 136, 134);
  transition: 0.3s;
}
.btn-default:hover {
  background-color: #5e5e8d;
  border-color: #5e5e8d;
  color: rgb(255, 255, 255);
}
.panel {
  padding-bottom: 0px !important;
}
ul li {
  margin-left: -22px;
}
.upcoming {
  border-color: #8484c1;
  border-width: 3px;
}
</style>
