<template>
  <div class="container-fluid">
    <div class="col-sm-8 col-sm-offset-2 animated slideInUp faster">
      <div class="panel panel-default">
        <div class="panel-body">
          <legend>
            <h4>Thêm kỳ thi</h4>
          </legend>
          <form v-on:submit.prevent="CreateSubmit">
            <div class="form-group">
              <label>Tên kỳ thi</label>
              <input class="form-control" v-model="contestName" required />
            </div>
            <div class="form-group">
              <label>Thời gian bắt đầu</label>
              <datetime
                type="datetime"
                input-class="form-control"
                value-zone="UTC+7"
                zone="Asia/Ho_Chi_Minh"
                v-model="startTime"
              ></datetime>
            </div>
            <div class="form-group">
              <label>Thời gian kết thúc</label>
              <datetime
                type="datetime"
                input-class="form-control"
                value-zone="UTC+7"
                zone="Asia/Ho_Chi_Minh"
                v-model="endTime"
              ></datetime>
            </div>
            <div class="form-group">
              <label>Thời lượng</label>
              <input
                type="number"
                class="form-control"
                v-model="duration"
                required
              />
            </div>
            <div class="form-group">
              <label>Những người ra đề (cách nhau bởi dấu phẩy)</label>
              <input class="form-control" v-model="writters" required />
            </div>

            <div class="form-group text-center">
              <btn type="primary" :block="true" native-type="submit"
                >Thêm kỳ thi</btn
              >
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { Datetime } from 'vue-datetime'
import { Settings } from 'luxon'

import { mapActions } from 'vuex'

Settings.defaultLocale = 'vi'

export default {
  components: {
    datetime: Datetime,
  },
  data: function () {
    return {
      contestName: 'Free Contest ',
      startTime: new Date().toISOString(),
      endTime: new Date().toISOString(),
      duration: 3,
      writters: 'xuanquang1999',
    }
  },
  methods: {
    ...mapActions(['fetchAPI']),
    async CreateSubmit() {
      const CreateHandle = await this.fetchAPI({
        path: '/contest/new',
        method: 'POST',
        params: {
          name: this.contestName,
          startTime: new Date(this.startTime).getTime(),
          endTime: new Date(this.endTime).getTime(),
          duration: this.duration,
          writters: this.writters.split(','),
        },
      })
      if (CreateHandle.success) {
        this.$toast.success(CreateHandle.message, 'OK!')
        return this.$router.push({ name: 'Contest' })
      } else {
        this.$toast.error(CreateHandle.message, 'Lỗi')
      }
    },
  },
}
</script>

<style scoped>
.btn {
  border-radius: 2px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: 400;
}
.btn-primary {
  background-color: rgb(0, 120, 212);
  transition: 0.3s;
}
.btn-success:disabled {
  background-color: #217346;
}
.btn-success:disabled:hover {
  background-color: #217346;
  border-color: #4cae4c;
}
.btn-default {
  background-color: rgb(255, 255, 255);
  border-width: 2px;
  border-style: solid;
  border-color: rgb(138, 136, 134);
  transition: 0.3s;
}
.btn-default:hover {
  background-color: rgb(0, 120, 212);
  border-color: rgb(0, 120, 212);
  color: rgb(255, 255, 255);
}
</style>
