<template>
  <div class="col-sm-12 animated slideInUp faster">
    <div class="container-fluid">
      <div class="panel panel-default">
        <div class="panel-body">
          <legend>
            <h4>Đăng bài viết mới</h4>
          </legend>
          <form v-on:submit.prevent="CreatePostSubmit">
            <div class="col-sm-12">
              <div class="form-group">
                <label>Tiêu đề</label>
                <input
                  class="form-control"
                  v-model="title"
                  placeholder="Some title"
                  required
                />
              </div>
            </div>
            <div class="col-sm-6">
              <textarea
                v-model="markdown"
                class="form-control full-height"
                rows="25"
                :style="{ height: windowHeight + 'px', resize: 'none' }"
                required
              ></textarea>
            </div>
            <div class="col-sm-6">
              <vue-markdown
                :style="{
                  height: windowHeight + 'px',
                  overflow: 'auto',
                  borderStyle: 'solid',
                  borderWidth: '1px',
                  borderRadius: '4px',
                  padding: '10px',
                }"
                :source="markdown"
                :html="true"
                :xhtml-out="true"
                :linkify="true"
                :emoji="true"
              ></vue-markdown>
            </div>
            <div class="col-sm-12 margin-top-20">
              <btn
                native-type="submit"
                :disabled="formLoading"
                :block="true"
                type="primary"
              >
                <i class="fa fa-upload" aria-hidden="true"></i> Đăng bài
              </btn>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions } from 'vuex'
import VueMarkdown from 'vue-markdown'
export default {
  components: {
    VueMarkdown,
  },
  data: function () {
    return {
      title: '',
      markdown: `# Happy writing 8-)
## Markdown and HTML are OK! `,
      windowHeight: window.innerHeight - 350,
      formLoading: false,
    }
  },
  methods: {
    ...mapActions(['fetchAPI']),
    async CreatePostSubmit() {
      this.formLoading = true
      const CreateHandle = await this.fetchAPI({
        path: '/post/new',
        method: 'POST',
        params: { title: this.title, content: this.markdown },
      })
      if (CreateHandle.error) {
        return this.$toast.error(CreateHandle.message, 'Lỗi')
      }

      this.$toast.success(CreateHandle.message, 'OK!')
      return this.$router.push({ name: 'Home' })
    },
  },
}
</script>

<style scoped>
.margin-top-20 {
  margin-top: 20px;
}
.btn {
  margin-top: -6px;
  border-radius: 2px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: 400;
}
.btn-primary {
  background-color: rgb(0, 120, 212);
  transition: 0.3s;
}
.btn-success:disabled {
  background-color: #217346;
}
.btn-success:disabled:hover {
  background-color: #217346;
  border-color: #4cae4c;
}
.btn-default {
  background-color: rgb(255, 255, 255);
  border-width: 2px;
  border-style: solid;
  border-color: rgb(138, 136, 134);
  transition: 0.3s;
}
.btn-default:hover {
  background-color: rgb(0, 120, 212);
  border-color: rgb(0, 120, 212);
  color: rgb(255, 255, 255);
}
</style>
