<template>
  <div class="col-sm-8 col-sm-offset-2">
    <div class="panel panel-default">
      <div class="panel-body">
        <legend>
          <h4>Thêm người ủng hộ</h4>
        </legend>
        <form v-on:submit.prevent="CreateDonationSubmit">
          <div class="form-group">
            <label>Tên người ủng hộ</label>
            <input
              class="form-control"
              v-model="name"
              placeholder="Nguyen Minh Huy"
              required
            />
          </div>
          <div class="form-group">
            <label>Số tiền</label>
            <input
              type="number"
              class="form-control"
              placeholder="100000"
              v-model="quantity"
              required
            />
          </div>
          <div class="form-group">
            <label>Nơi học tập/làm việc</label>
            <input
              type="text"
              v-model="work"
              class="form-control"
              placeholder="(empty)"
            />
          </div>
          <div class="form-group">
            <label>Link đến người ủng hộ</label>
            <input
              type="url"
              v-model="socialLink"
              class="form-control"
              placeholder="https://www.facebook.com/rknguyen"
            />
          </div>
          <div class="form-group">
            <btn :block="true" type="primary" native-type="submit">
              <i class="fa fa-check"></i> Thêm người ủng hộ
            </btn>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions } from 'vuex'
export default {
  data: function () {
    return {
      name: '',
      quantity: 0,
      socialLink: '',
      work: '',
    }
  },
  methods: {
    ...mapActions(['fetchAPI']),
    async CreateDonationSubmit() {
      const CreateHandle = await this.fetchAPI({
        path: '/donation/new',
        method: 'POST',
        params: {
          name: this.name,
          quantity: this.quantity,
          socialLink: this.socialLink,
          work: this.work,
        },
      })
      if (CreateHandle.error) {
        return this.$toast.error(CreateHandle.message, 'Lỗi')
      }
      this.$toast.success(CreateHandle.message, 'OK!')
      return this.$router.push({ name: 'Donation' })
    },
  },
}
</script>
<style scoped>
.btn {
  border-radius: 2px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: 400;
}
.btn-primary {
  background-color: rgb(0, 120, 212);
  transition: 0.3s;
}
.btn-success:disabled {
  background-color: #217346;
}
.btn-success:disabled:hover {
  background-color: #217346;
  border-color: #4cae4c;
}
.btn-default {
  background-color: rgb(255, 255, 255);
  border-width: 2px;
  border-style: solid;
  border-color: rgb(138, 136, 134);
  transition: 0.3s;
}
.btn-default:hover {
  background-color: rgb(0, 120, 212);
  border-color: rgb(0, 120, 212);
  color: rgb(255, 255, 255);
}
</style>
