<template>
  <div class="col-sm-8 col-sm-offset-2 animated slideInUp faster">
    <div class="panel panel-default">
      <div class="panel-body">
        <div v-if="Loading">
          <content-placeholders :style="{ marginTop: '20px' }">
            <content-placeholders-heading />
            <content-placeholders-text :lines="2" />
          </content-placeholders>
        </div>
        <div v-else>
          <legend>
            <h4>Cập nhật kỳ thi {{ contest.name }}</h4>
          </legend>
          <form v-on:submit.prevent="UpdateContestSubmit">
            <div class="form-group">
              <label>Tên kỳ thi</label>
              <input class="form-control" v-model="contest.name" required />
            </div>
            <div class="form-group">
              <label>Thời gian bắt đầu</label>
              <datetime
                type="datetime"
                input-class="form-control"
                value-zone="UTC+7"
                zone="Asia/Ho_Chi_Minh"
                v-model="contest.startTime"
              ></datetime>
            </div>
            <div class="form-group">
              <label>Thời gian kết thúc</label>
              <datetime
                type="datetime"
                input-class="form-control"
                value-zone="UTC+7"
                zone="Asia/Ho_Chi_Minh"
                v-model="contest.endTime"
              ></datetime>
            </div>
            <div class="form-group">
              <label>Thời lượng</label>
              <input
                type="number"
                class="form-control"
                v-model="contest.duration"
                required
              />
            </div>
            <div class="form-group">
              <label>Những người ra đề (cách nhau bởi dấu phẩy)</label>
              <input class="form-control" v-model="contest.writters" required />
            </div>

            <div class="form-group">
              <label>ID kỳ thi trên CMS (thường là 1)</label>
              <input
                type="number"
                class="form-control"
                v-model="contest.contestId"
                required
              />
            </div>

            <div class="form-group">
              <label>
                Loại kỳ thi (0 là kỳ thi bình thường, 1 là ẩn khỏi ranking mọi
                thí sinh online)
              </label>
              <input
                type="number"
                class="form-control"
                v-model="contest.code"
                required
              />
            </div>

            <div class="form-group text-center">
              <btn
                :disabled="formLoading"
                type="primary"
                :block="true"
                native-type="submit"
              >
                <i class="fa fa-check"></i> Cập nhật kỳ thi
              </btn>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions } from 'vuex'
import { Datetime } from 'vue-datetime'
import { Settings } from 'luxon'

Settings.defaultLocale = 'vi'
export default {
  components: {
    datetime: Datetime,
  },
  data: function () {
    return {
      contestId: '',
      contest: {},
      formLoading: false,
      Loading: true,
    }
  },
  methods: {
    ...mapActions(['fetchAPI']),
    async fetchContest() {
      let query = new URLSearchParams()
      query.append('contestId', this.contestId)
      let contest = await this.fetchAPI({
        path: `/contest/?${query.toString()}`,
        method: 'GET',
      })
      if (contest.error || !contest.data || contest.data.length === 0) {
        this.$toast.error('Không tìm thấy kỳ thi', 'Lỗi')
        return this.$router.push({ name: 'Home' })
      }

      contest = contest.data
      contest = contest.map((c) => {
        c.startTime = new Date(c.startTime).toISOString()
        c.endTime = new Date(c.endTime).toISOString()
        c.writters = c.writters.join(',')
        return c
      })
      this.contest = contest[0]
      this.Loading = false
    },
    async UpdateContestSubmit() {
      this.formLoading = true
      let copyContest = { ...this.contest }

      delete copyContest._id
      delete copyContest.contestId
      delete copyContest.createdAt
      delete copyContest.updatedAt
      delete copyContest.__v
      delete copyContest.isDuring
      delete copyContest.hasRegistered
      delete copyContest.registeredCount

      copyContest.startTime = new Date(copyContest.startTime).getTime()
      copyContest.endTime = new Date(copyContest.endTime).getTime()
      copyContest.writters = copyContest.writters.split(',')

      const UpdateHandle = await this.fetchAPI({
        path: '/contest/update',
        method: 'POST',
        params: {
          contestId: this.contestId,
          cmsContestId: this.contest.contestId,
          ...copyContest,
        },
      })
      this.formLoading = false
      if (UpdateHandle.error) {
        return this.$toast.error(UpdateHandle.message, 'Lỗi')
      }
      return this.$toast.success(UpdateHandle.message, 'OK!')
    },
  },
  created() {
    this.contestId = this.$route.params.id
    this.fetchContest()
  },
}
</script>
<style scoped>
.btn {
  border-radius: 2px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: 400;
}
.btn-primary {
  background-color: rgb(0, 120, 212);
  transition: 0.3s;
}
.btn-success:disabled {
  background-color: #217346;
}
.btn-success:disabled:hover {
  background-color: #217346;
  border-color: #4cae4c;
}
.btn-default {
  background-color: rgb(255, 255, 255);
  border-width: 2px;
  border-style: solid;
  border-color: rgb(138, 136, 134);
  transition: 0.3s;
}
.btn-default:hover {
  background-color: rgb(0, 120, 212);
  border-color: rgb(0, 120, 212);
  color: rgb(255, 255, 255);
}
</style>
