<template>
  <div class="col-sm-12 animated slideInUp faster">
    <div class="panel panel-default">
      <div class="panel-body">
        <div v-if="Loading">
          <content-placeholders :style="{ marginTop: '20px' }">
            <content-placeholders-heading />
            <content-placeholders-text :lines="2" />
          </content-placeholders>
        </div>
        <div v-else>
          <legend>
            <h4>Cập nhật bài viết {{ post.title }}</h4>
          </legend>
          <form v-on:submit.prevent="UpdatePostSubmit">
            <div class="col-sm-12">
              <div class="form-group">
                <label>Tiêu đề</label>
                <input
                  class="form-control"
                  v-model="post.title"
                  placeholder="Some title"
                  required
                />
              </div>
            </div>
            <div class="col-sm-6">
              <textarea
                v-model="post.content"
                class="form-control full-height"
                rows="25"
                :style="{ height: windowHeight + 'px', resize: 'none' }"
                required
              ></textarea>
            </div>
            <div class="col-sm-6">
              <vue-markdown
                :style="{
                  height: windowHeight + 'px',
                  overflow: 'auto',
                  borderStyle: 'solid',
                  borderWidth: '1px',
                  borderRadius: '4px',
                  padding: '10px',
                }"
                :source="post.content"
                :html="true"
                :xhtml-out="true"
                :linkify="true"
                :emoji="true"
              ></vue-markdown>
            </div>
            <div class="col-sm-12 margin-top-20">
              <btn
                native-type="submit"
                :disabled="formLoading"
                :block="true"
                type="primary"
              >
                <i class="fa fa-check" aria-hidden="true"></i> Cập nhật
              </btn>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions } from 'vuex'
import VueMarkdown from 'vue-markdown'
export default {
  components: {
    VueMarkdown,
  },
  data: function () {
    return {
      post: {},
      windowHeight: window.innerHeight - 350,
      formLoading: false,
      Loading: true,
    }
  },
  methods: {
    ...mapActions(['fetchAPI']),
    async fetchContest() {
      let query = new URLSearchParams()
      query.append('postId', this.postId)
      const contest = await this.fetchAPI({
        path: `/post/?${query.toString()}`,
        method: 'GET',
      })
      if (contest.error || !contest.data || contest.data.length === 0) {
        this.$toast.error('Không tìm thấy bài viết', 'Lỗi')
        return this.$router.push({ name: 'Home' })
      }
      this.post = contest.data[0]
      this.Loading = false
    },
    async UpdatePostSubmit() {
      this.formLoading = true
      const UpdateHandle = await this.fetchAPI({
        path: '/post/update',
        method: 'POST',
        params: {
          postId: this.postId,
          title: this.post.title,
          content: this.post.content,
        },
      })
      if (UpdateHandle.error) {
        return this.$toast.error(UpdateHandle.message, 'Lỗi')
      }

      this.formLoading = false
      return this.$toast.success(UpdateHandle.message, 'OK!')
    },
  },
  created() {
    this.postId = this.$route.params.id
    this.fetchContest()
  },
}
</script>

<style scoped>
.margin-top-20 {
  margin-top: 20px;
}
.btn {
  margin-top: -6px;
  border-radius: 2px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: 400;
}
.btn-primary {
  background-color: rgb(0, 120, 212);
  transition: 0.3s;
}
.btn-success:disabled {
  background-color: #217346;
}
.btn-success:disabled:hover {
  background-color: #217346;
  border-color: #4cae4c;
}
.btn-default {
  background-color: rgb(255, 255, 255);
  border-width: 2px;
  border-style: solid;
  border-color: rgb(138, 136, 134);
  transition: 0.3s;
}
.btn-default:hover {
  background-color: rgb(0, 120, 212);
  border-color: rgb(0, 120, 212);
  color: rgb(255, 255, 255);
}
</style>
