<template>
  <div class="col-sm-8 col-sm-offset-2 animated slideInUp faster">
    <div class="panel panel-default">
      <div class="panel-body">
        <div v-if="Loading">
          <content-placeholders :style="{ marginTop: '20px' }">
            <content-placeholders-heading />
            <content-placeholders-text :lines="2" />
          </content-placeholders>
        </div>
        <div v-else>
          <legend>
            <h4>Cập nhật thông tin của {{ user.name }}</h4>
          </legend>
          <form v-on:submit.prevent="UpdateSubmit">
            <div class="form-group">
              <label>Mật khẩu (plain text)</label>
              <div class="input-group">
                <input
                  type="password"
                  class="form-control"
                  v-model="user.password"
                  required
                />
                <span class="input-group-btn">
                  <btn @click="user.password = '12345'" type="default"
                    >12345</btn
                  >
                </span>
              </div>
            </div>
            <div class="form-group">
              <label>Rating</label>
              <input
                type="number"
                class="form-control"
                v-model="user.rating"
                required
              />
            </div>
            <div class="form-group">
              <label>Màu ([1..10])</label>
              <input
                type="number"
                class="form-control"
                v-model="user.color"
                required
              />
            </div>
            <div class="form-group">
              <label>Quyền (user|admin)</label>
              <input class="form-control" v-model="user.role" required />
            </div>
            <div class="form-group">
              <input
                type="checkbox"
                id="checkbox"
                v-model="user.showOnRanking"
              />
              &nbsp;
              <label for="checkbox">Hiện trên bảng xếp hạng</label>
            </div>
            <div class="form-group">
              <btn
                :disabled="formLoading"
                :block="true"
                type="primary"
                native-type="submit"
              >
                <i class="fa fa-check" aria-hidden="true"></i> Cập nhật
              </btn>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions } from 'vuex'
export default {
  data: function () {
    return {
      user: {},
      formLoading: false,
      Loading: true,
      countPasswordChanged: 0,
    }
  },
  methods: {
    ...mapActions(['fetchAPI']),
    async fetchUser() {
      let query = new URLSearchParams()
      query.append('userId', this.userId)
      const user = await this.fetchAPI({
        path: `/user/?${query.toString()}`,
        method: 'GET',
      })
      if (user.error || !user.data || user.data.length === 0) {
        this.$toast.error('Khồng tìm thấy người dùng này', 'Lỗi')
        return this.$router.push({ name: 'UserManager' })
      }
      this.user = user.data[0]
      this.Loading = false
    },
    async UpdateSubmit() {
      this.formLoading = true
      let payload = {
        userId: this.userId,
        rating: this.user.rating,
        color: this.user.color,
        role: this.user.role,
        showOnRanking: this.user.showOnRanking,
      }
      if (this.countPasswordChanged > 1) {
        payload = { ...payload, password: this.user.password }
      }
      const UpdateHandle = await this.fetchAPI({
        path: '/user/update',
        method: 'POST',
        params: payload,
      })
      this.formLoading = false
      if (UpdateHandle.success) {
        return this.$toast.success(UpdateHandle.message, 'OK!')
      } else {
        return this.$toast.error(UpdateHandle.message, 'Lỗi')
      }
    },
  },
  created() {
    this.userId = this.$route.params.id
    this.fetchUser()
  },
  watch: {
    'user.password': function (newVal) {
      ++this.countPasswordChanged
    },
  },
}
</script>
<style scoped>
.btn {
  border-radius: 2px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: 400;
}
.btn-primary {
  background-color: rgb(0, 120, 212);
  transition: 0.3s;
}
.btn-success:disabled {
  background-color: #217346;
}
.btn-success:disabled:hover {
  background-color: #217346;
  border-color: #4cae4c;
}
.btn-default {
  padding-top: 5.5px;
  padding-bottom: 5.5px;
  background-color: rgb(255, 255, 255);
  border-width: 2px;
  border-style: solid;
  border-color: rgb(138, 136, 134);
  transition: 0.3s;
}
.btn-default:hover {
  background-color: rgb(0, 120, 212);
  border-color: rgb(0, 120, 212);
  color: rgb(255, 255, 255);
}
</style>
