<template>
  <div class="col-sm-8 col-sm-offset-2 animated slideInUp faster">
    <div class="panel panel-default">
      <div class="panel-body">
        <div v-if="Loading">
          <content-placeholders :style="{ marginTop: '20px' }">
            <content-placeholders-heading />
            <content-placeholders-text :lines="2" />
          </content-placeholders>
        </div>
        <div v-else>
          <legend>
            <h4>Cập nhật ủng hộ của {{ donation.name }}</h4>
          </legend>
          <form v-on:submit.prevent="UpdateDonationSubmit">
            <div class="form-group">
              <label>Tên</label>
              <input class="form-control" v-model="donation.name" required />
            </div>
            <div class="form-group">
              <label>Số tiền</label>
              <input
                type="number"
                class="form-control"
                v-model="donation.quantity"
                required
              />
            </div>
            <div class="form-group">
              <label>Nơi học tập/làm việc</label>
              <input class="form-control" v-model="donation.work" />
            </div>
            <div class="form-group">
              <label>Link đến profile</label>
              <input class="form-control" v-model="donation.socialLink" />
            </div>
            <div class="form-group">
              <btn
                native-type="submit"
                :disabled="formLoading"
                :block="true"
                type="primary"
              >
                <i class="fa fa-check" aria-hidden="true"></i> Cập nhật
              </btn>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions } from 'vuex'
export default {
  data: function () {
    return {
      donationId: '',
      donation: {},
      formLoading: false,
      Loading: true,
    }
  },
  methods: {
    ...mapActions(['fetchAPI']),
    async fetchDonation() {
      let query = new URLSearchParams()
      query.append('donationId', this.donationId)
      const donation = await this.fetchAPI({
        path: `/donation/?${query.toString()}`,
      })
      if (donation.error || !donation.data || donation.data.length === 0) {
        this.$toast.error('Không tìm thấy ủng hộ nào', 'Lỗi')
        return this.$router.push({ name: 'Donation' })
      }

      this.donation = donation.data[0]
      this.Loading = false
    },
    async UpdateDonationSubmit() {
      this.formLoading = true
      const UpdateHandle = await this.fetchAPI({
        path: '/donation/update',
        method: 'POST',
        params: {
          donationId: this.donationId,
          name: this.donation.name,
          quantity: this.donation.quantity,
          socialLink: this.donation.socialLink,
          work: this.donation.work,
        },
      })

      this.formLoading = false
      if (UpdateHandle.error) {
        return this.$toast.error(UpdateHandle.message, 'Lỗi')
      }

      this.$toast.success(UpdateHandle.message, 'OK!')
      return this.$router.push({ name: 'Donation' })
    },
  },
  created() {
    this.donationId = this.$route.params.id
    this.fetchDonation()
  },
}
</script>

<style scoped>
.btn {
  border-radius: 2px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: 400;
}
.btn-primary {
  background-color: rgb(0, 120, 212);
  transition: 0.3s;
}
.btn-success:disabled {
  background-color: #217346;
}
.btn-success:disabled:hover {
  background-color: #217346;
  border-color: #4cae4c;
}
.btn-default {
  background-color: rgb(255, 255, 255);
  border-width: 2px;
  border-style: solid;
  border-color: rgb(138, 136, 134);
  transition: 0.3s;
}
.btn-default:hover {
  background-color: rgb(0, 120, 212);
  border-color: rgb(0, 120, 212);
  color: rgb(255, 255, 255);
}
</style>
