<template>
  <div class="col-sm-8 col-sm-offset-2 animated slideInUp faster">
    <div class="panel panel-default">
      <div class="panel-body">
        <div v-if="Loading">
          <content-placeholders :style="{ marginTop: '20px' }">
            <content-placeholders-heading />
            <content-placeholders-text :lines="2" />
          </content-placeholders>
        </div>
        <div v-else>
          <legend>
            <h4>Quản lý người dùng</h4>
          </legend>
          <table
            class="table table-default table-bordered table-hover table-condensed"
          >
            <thead>
              <tr>
                <th class="text-center">#</th>
                <th class="text-center">Username</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(user, index) in filteredTable">
                <td class="text-center">{{ index + 1 }}</td>
                <td class="text-center">
                  <ColoringName
                    :key="user._id"
                    :username="user.username"
                    :rating="user.rating"
                  />
                </td>
                <td class="text-center">
                  <router-link :to="'/user/update/' + user._id">
                    <btn size="xs" type="primary">
                      <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                      Sửa
                    </btn>
                  </router-link>
                </td>
              </tr>
            </tbody>
          </table>
          <div>
            <pagination
              v-if="paging.currentPage && paging.totalPage"
              v-model="paging.currentPage"
              :total-page="paging.totalPage"
              align="center"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions } from 'vuex'
import ColoringName from '@/components/ColoringName.vue'
export default {
  components: {
    ColoringName,
  },
  methods: {
    ...mapActions(['fetchAPI']),
    async fetchUsers() {
      const users = await this.fetchAPI({ path: '/user/', method: 'GET' })
      this.users = users.data
      this.paging.currentPage = 1
      this.paging.totalPage = Math.round(
        this.users.length / this.paging.itemsPerPage
      )
      this.pagingTable(this.paging.currentPage)
      this.Loading = false
    },
    pagingTable: function (pageNum) {
      let start = (pageNum - 1) * this.paging.itemsPerPage
      let end = start + this.paging.itemsPerPage
      this.filteredTable = this.users.slice(start, end)
    },
  },
  data: function () {
    return {
      users: [],
      filteredTable: [],
      paging: {
        itemsPerPage: 100,
        currentPage: 1,
        totalPage: undefined,
      },
      Loading: true,
    }
  },
  watch: {
    'paging.currentPage': function () {
      this.pagingTable(this.paging.currentPage)
    },
  },
  created() {
    this.fetchUsers()
  },
}
</script>

<style scoped>
.btn {
  border-radius: 2px;
  padding-left: 16px;
  padding-right: 16px;
  font-weight: 400;
}
.btn-primary {
  background-color: rgb(0, 120, 212);
  transition: 0.3s;
}
.btn-success:disabled {
  background-color: #217346;
}
.btn-success:disabled:hover {
  background-color: #217346;
  border-color: #4cae4c;
}
.btn-default {
  background-color: rgb(255, 255, 255);
  border-width: 2px;
  border-style: solid;
  border-color: rgb(138, 136, 134);
  transition: 0.3s;
}
.btn-default:hover {
  background-color: rgb(0, 120, 212);
  border-color: rgb(0, 120, 212);
  color: rgb(255, 255, 255);
}
</style>
