<template>
  <div id="app">
    <router-view name="header"></router-view>
    <div v-if="$store.state.RouteChanging" class="wrap">
      <div class="loading">
        <div class="lds-dual-ring"></div>
      </div>
    </div>
    <router-view v-else :key="$route.fullPath" name="main"></router-view>
  </div>
</template>

<style>
.panel {
  border-radius: 2px !important;
  padding-bottom: 28px !important;
  padding-left: 20px !important;
  padding-right: 20px !important;
  margin-bottom: 28px !important;
  background-clip: padding-box !important;
  box-shadow: 0 1.6px 3.6px 0 rgba(0, 0, 0, 0.132),
    0 0.3px 0.9px 0 rgba(0, 0, 0, 0.108) !important;
}

body {
  background-color: #faf9f8 !important;
}

.navbar {
  -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.175);
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.175);
}

img {
  max-width: 100% !important;
}

.padding-top-60 {
  padding-top: 60px;
}

.padding-top-80 {
  padding-top: 80px;
}

.auto-fit {
  width: 1px !important;
  white-space: nowrap !important;
}

.navbar-inner {
  -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.175);
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.175);
}

.logo {
  fill: #ffffff;
}

/* .form-control {
  transition: none !important;
  -moz-transition: none;
  -webkit-transition: none;
} */

a {
  text-decoration: none !important;
}

.nearly-big {
  font-size: 16px !important;
  line-height: 1.5 !important;
}

/* custom navbar */
.navbar-inverse {
  background: rgb(22, 23, 26) !important;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  color: #ffffff !important;
  background: none !important;
}

.navbar-brand {
  color: #ffffff !important;
  padding-left: 30px !important;
  padding-right: 30px !important;
}

nav .nav > li > a {
  color: rgb(163, 175, 191) !important;
  transition: all 0.35s ease 0s;
}

nav .nav > .active::after {
  content: '';
  width: 100%;
  height: 3px;
  left: 0;
  bottom: 0;
  transition: all 0.35s ease 0s;
  position: absolute;
  box-shadow: rgb(255, 255, 255) 0px -4px 0px inset;
}

nav .nav > li::after {
  content: '';
  width: 100%;
  height: 3px;
  left: 0;
  bottom: 0;
  transition: all 0.35s ease 0s;
  position: absolute;
}

nav .nav > li > a:hover {
  color: rgb(255, 255, 255) !important;
}

nav .nav > li:hover::after {
  box-shadow: rgb(163, 175, 191) 0px -4px 0px inset;
}

.vertical-middle {
  vertical-align: middle !important;
}

/* preloader */
.wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 9999999999;
}

.lds-dual-ring {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  z-index: 9999999999;
}

.lds-dual-ring:before {
  position: absolute;
  content: ' ';
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 3px solid #1c84c6;
  border-color: #1c84c6 transparent #1c84c6 transparent;
  animation: lds-dual-ring 1.2s linear infinite;
  z-index: 9999999999;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.profile-img {
  width: 40px;
  height: 40px;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 50%;
  border: 2px solid white;
}
</style>

<script>
import { FadeTransition } from 'vue2-transitions'
export default {
  components: {
    FadeTransition,
  },
}
</script>
