<template>
  <navbar v-bind:fluid="true" v-bind:inverse="true" v-bind:static-top="true">
    <router-link to="/" class="navbar-brand fc-logo" slot="brand">
      <div>
        <svg
          viewBox="0 0 600 600"
          :fill="$route.path === '/' ? 'white' : '#A3AFBF'"
        >
          <path
            d="M302.59,40.38,76.17,172.58,77,435.32l225.6,131.37L529,435.32V171.75Zm0,498.87L100.39,422.13l.13-237.08L302.59,67l202.2,118.06.68,237Z"
          />
          <path
            d="M408.89,347.31a28.36,28.36,0,0,0-22.61-5.74l-39-80.81a55.58,55.58,0,0,0,24.33-46.19c0-30.54-24.17-55.29-54-55.29s-54,24.75-54,55.29c0,18.83,8.69,35.33,22.73,45.31L235.43,365.07a39.76,39.76,0,0,0-9.94-1.26c-22.41,0-40.57,18.62-40.57,41.57S203.08,447,225.49,447s40.58-18.62,40.58-41.58a41.84,41.84,0,0,0-15.36-32.55l50.37-105.62a52.89,52.89,0,0,0,32.38.22l38.71,81a28.84,28.84,0,0,0-4,4.33,30.2,30.2,0,0,0,5.3,41.69A28.54,28.54,0,0,0,414.19,389,30.2,30.2,0,0,0,408.89,347.31Z"
          />
        </svg>
      </div>
    </router-link>
    <template slot="collapse">
      <navbar-nav>
        <li
          :class="$route.path === item.path ? 'active' : ''"
          v-for="item in leftNavbarLinks"
          :key="item.path"
        >
          <router-link v-bind:to="item.path">
            <i v-if="item.icon" :class="item.icon" aria-hidden="true"></i>
            {{ item.content }}
          </router-link>
        </li>
        <li>
          <a href="https://info.freecontest.xyz/">
            <i class="fa fa-info-circle" aria-hidden="true"></i> Free Contest
            Info
          </a>
        </li>
        <li>
          <a href="https://www.facebook.com/kc97blf/" target="_blank">
            <i class="fa fa-facebook-official" aria-hidden="true"></i> Free
            Contest
          </a>
        </li>
      </navbar-nav>

      <navbar-nav v-if="passport.logined" v-bind:right="true">
        <dropdown v-if="passport.role === 'admin'" tag="li">
          <a class="dropdown-toggle" role="button">
            <i class="fa fa-cogs"></i> Quản lý
            <span class="caret"></span>
          </a>
          <template slot="dropdown">
            <li>
              <router-link to="/post/create">
                <i class="fa fa-plus-square" aria-hidden="true"></i> Thêm bài
                viết
              </router-link>
            </li>
            <li>
              <router-link to="/contest/create">
                <i class="fa fa-plus-square" aria-hidden="true"></i> Thêm kỳ thi
              </router-link>
            </li>
            <li>
              <router-link to="/donation/create">
                <i class="fa fa-plus-square" aria-hidden="true"></i> Thêm người
                ủng hộ
              </router-link>
            </li>
            <li>
              <router-link to="/user/manager">
                <i class="fa fa-users" aria-hidden="true"></i> Quản lý người
                dùng
              </router-link>
            </li>
          </template>
        </dropdown>

        <dropdown tag="li">
          <a class="dropdown-toggle" role="button">
            <i class="fa fa-user" aria-hidden="true"></i>
            {{ passport.name }}
            <span class="caret"></span>
          </a>
          <template slot="dropdown">
            <li>
              <router-link :to="'/profile/' + passport.username">
                <span class="text-muted">@{{ passport.username }}</span>
              </router-link>
            </li>
            <li role="separator" class="divider"></li>
            <li>
              <router-link :to="'/profile/' + passport.username">
                <i class="fa fa-user-o" aria-hidden="true"></i> Trang cá nhân
              </router-link>
            </li>
            <li>
              <router-link to="/settings/account">
                <i class="fa fa-pencil-square-o" aria-hidden="true"></i> Cập
                nhật thông tin
              </router-link>
            </li>
            <li role="separator" class="divider"></li>
            <li>
              <a @click="logOut()" role="button">
                <i class="fa fa-sign-out" aria-hidden="true"></i> Đăng xuất
              </a>
            </li>
          </template>
        </dropdown>
      </navbar-nav>

      <div v-if="!passport.logined">
        <navbar-nav v-bind:right="true">
          <li>
            <router-link to="/register">
              <i class="fa fa-user-plus" aria-hidden="true"></i> Đăng ký
            </router-link>
          </li>
          <li>
            <router-link to="/login">
              <i class="fa fa-sign-in" aria-hidden="true"></i> Đăng nhập
            </router-link>
          </li>
        </navbar-nav>
      </div>
    </template>
  </navbar>
</template>

<script>
import { mapState } from 'vuex'
import Cookie from 'js-cookie'
export default {
  computed: mapState({
    passport: (state) => state.passport,
    fetchAPI: (state) => state.fetchAPI,
  }),
  data: function () {
    return {
      leftNavbarLinks: [
        {
          path: '/contest',
          content: 'Kỳ thi',
          icon: 'fa fa-trophy',
        },
        {
          path: '/donation',
          content: 'Ủng hộ',
          icon: 'fa fa-heart',
        },
        {
          path: '/rating',
          content: 'Rating (beta)',
          icon: 'fa fa-sort-amount-desc',
        },
      ],
    }
  },
  methods: {
    logOut: async function () {
      window.localStorage.removeItem('access_token')
      this.$toast.success('Đăng xuất thành công.', 'OK!')
      this.$router.replace({ name: 'Home', query: { t: Date.now() } })
    },
    darkMode: function () {
      Cookie.set('dark_theme', 1)
      window.location.reload()
    },
  },
}
</script>

<style scoped>
.btn-dark {
  background-color: #090f1d;
  color: #fff;
}
.btn-dark:hover {
  background-color: #40495f;
  color: #fff;
}
.fc-logo {
  line-height: 100%;
}
.fc-logo > div {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%) !important;
  height: 100%;
  padding: 5px 10px;
}
.fc-logo > div svg {
  color: white;
  height: 40px;
  float: left;
  overflow: hidden;
  vertical-align: middle;
}
</style>
